## DATA CLEANING:

En este notebook se procederá a la limpieza del csv de ataques de tiburones registrados a nivel global. No se realizará ningún tipo de manipulación de datos, únicamente limpieza, de manera que cualquier persona que lo necesite pueda obtener los datos para realizar sus propioes estudios

In [1]:
import numpy as np
import pandas as pd

In [2]:
Shark = pd.read_csv("./CSVs/global-shark-attack.csv")
Shark = pd.read_csv(".global-shark-attack.csv", sep= ";")
Shark.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,202273.b,03/07/2022,2022.0,Unprovoked,USA,New York,"Smith Point Beach, Suffolk County",Lifeguard Exercises,Zach Gallo,M,...,N,10h15,5'shark,"ABC7,7/3/2022",202273.a-Gallo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,202273.a,202273.a,6778.0
1,20226.22,21/06/2022,2022.0,Unprovoked,USA,South Carolina,"Myrtle Beach, Horry County",NaN,male,M,...,N,NaN,NaN,"C. Creswll, GSAF",20226.21-AC.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,20226.21,20226.21,6766.0
2,20224.11,09/04/2022,2022.0,Provoked,USA,New Jersey,Tutle Back Zoo,Feeding,female,F,...,N,Afternoon,Epaulette shark,"Rsl Media, 4/11/2022",202249-TurtleBackZoo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,202249,202249,6752.0
3,20222.17,16/02/2022,2022.0,Unprovoked,AUSTRALIA,New South Wales,"Buchan Point, Sydney",Swimming,Simon Nellist,M,...,Y,16h30,NaN,"7News,2/16/2022",20222.16-Nellist.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,20222.16,20222.16,6739.0
4,2021.12.25,22/12/2021,2021.0,Unprovoked,USA,Florida,"Anna Maria Island, Manatee County",Wing Foil Surfing,Erika Lane,F,...,N,NaN,Blacktip or spinner shark,ABC.net,2021.12.22-Lane.pdf,NaN,NaN,2021.12.22,2021.12.22,6724.0

In [3]:
#Vamos a ver que columnas tenemos en nuestro DataFrame, para empezar con la limpieza

In [4]:
Shark.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [5]:
#Vemos que nos sobran varias columnas para hacer nuestro análisis. En primer lugar, la primera columna o Case Number, coincide con la fecha
#en la que se ha producido el ataque, por lo que es redundante (a lo sumo, varía en unos pocos días, lo cual es irrelevante para nuestro análisis). 
#En segundo lugar, las columnas de pdf en adelante tampoco nos van a interesar en nuestro análisis, por lo que podemos de igual forma eliminarlas.

In [6]:
Shark = Shark.drop(columns=["Case Number", "pdf", "href formula", "href",
       "Case Number.1", "Case Number.2", "original order"], axis= 1)

In [7]:
#También vamos a corregir el nombre de Sex y Species, para evitar problemas a la hora de utilizar las columnas (contienen espacios)

In [8]:
Shark.rename(columns={"Sex ": "Sex", "Species ": "Species"}, inplace= True)

In [9]:
Shark.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,03/07/2022,2022.0,Unprovoked,USA,New York,"Smith Point Beach, Suffolk County",Lifeguard Exercises,Zach Gallo,M,31,Injuries to chest and right hand,N,10h15,5'shark,"ABC7,7/3/2022"
1,21/06/2022,2022.0,Unprovoked,USA,South Carolina,"Myrtle Beach, Horry County",NaN,male,M,14,NaN,N,NaN,NaN,"C. Creswll, GSAF"
2,09/04/2022,2022.0,Provoked,USA,New Jersey,Tutle Back Zoo,Feeding,female,F,12,Finger nipped by captive shark PROVOKED INCIDENT,N,Afternoon,Epaulette shark,"Rsl Media, 4/11/2022"
3,16/02/2022,2022.0,Unprovoked,AUSTRALIA,New South Wales,"Buchan Point, Sydney",Swimming,Simon Nellist,M,36,FATAL,Y,16h30,NaN,"7News,2/16/2022"
4,22/12/2021,2021.0,Unprovoked,USA,Florida,"Anna Maria Island, Manatee County",Wing Foil Surfing,Erika Lane,F,42,Punctures to leg,N,NaN,Blacktip or spinner shark,ABC.net

In [10]:
Shark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6833 entries, 0 to 6832
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    6632 non-null   object
 1   Year                    6698 non-null   float64
 2   Type                    6810 non-null   object
 3   Country                 6779 non-null   object
 4   Area                    6351 non-null   object
 5   Location                6268 non-null   object
 6   Activity                6247 non-null   object
 7   Name                    6611 non-null   object
 8   Sex                     6260 non-null   object
 9   Age                     3876 non-null   object
 10  Injury                  6795 non-null   object
 11  Fatal (Y/N)             6833 non-null   object
 12  Time                    3326 non-null   object
 13  Species                 3751 non-null   object
 14  Investigator or Source  6809 non-null   object
dtypes: float64(1), object(14)
memory usage: 800.9+ KB

In [11]:
#Vemos que las columnas de Age, Time y Species tienen muchos datos nulos.

In [12]:
#Comprobamos que no exista ninguna fila donde todos los datos estén perdidos
Shark.isnull().all(axis=1).value_counts()

False    6833
dtype: int64

In [13]:
#Comprobamos que no haya registros duplicados

Shark.duplicated().value_counts()

False    6830
True        3
dtype: int64

In [14]:
#Como vemos que hay tres resgistros duplicados, procedemos a borrarlos. 
Shark.drop_duplicates(inplace= True)

In [15]:
#La columna de Source nonos va a aportar mucha información para el análisis, la borramos también
Shark.drop(columns= "Investigator or Source", inplace= True)

In [16]:
#Aquellas filas donde la gran mayoría de datos están perdidos no tendrán mucho valor para nuestro estudio, vamos a borrarlas.
#Primero echamos un vistazo, asegurándonos que no borramos nada importante. 

Shark[Shark.isnull().sum(axis=1) > 5]

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
137,01/02/1977,1977.0,Unprovoked,NEW CALEDONIA,NaN,I'le Ouen,NaN,Jean Blanchet,NaN,NaN,Face & thorax bitten,N,NaN,NaN
234,1878-10-13,1878.0,Unprovoked,NaN,NaN,NaN,Jumped overboard after murdering 2 shipmates,Sherrington,M,NaN,FATAL,Y,NaN,NaN
246,NaN,NaN,Unprovoked,BELIZE,NaN,NaN,NaN,Charles Ritchie CBE,M,NaN,NaN,N,NaN,NaN
248,NaN,NaN,Unprovoked,REUNION,Grand'Anse,Petite-île,yachtsman in a zodiac,NaN,M,NaN,Survived,N,NaN,NaN
249,NaN,NaN,Unprovoked,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,"male, the Sergeant of Marines",M,NaN,NaN,UNKNOWN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6811,1890-03-03,1890.0,NaN,CEYLON,NaN,NaN,Diving,a pearl diver,M,NaN,FATAL,Y,NaN,NaN
6822,1836-01-01,1836.0,Unprovoked,AUSTRALIA,South Australia,NaN,NaN,NaN,NaN,NaN,"No details, it was the year the first settlers...",UNKNOWN,NaN,NaN
6825,1797-05-28,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,FATAL,Y,NaN,NaN
6828,NaN,NaN,Unprovoked,SPAIN,Canary Islands,Tenerife,Skin diving,NaN,NaN,NaN,Injury required 16 stitches,N,NaN,NaN
6829,NaN,NaN,Unprovoked,AUSTRALIA,NaN,NaN,Net-fishing,August Eichmann,M,NaN,Calf bitten,N,NaN,NaN

In [17]:
#Tras echar un vistazo, y con la gran cantidad de datos que tiene el dataset, podemos permitirnos borrar estas filas.

Shark.dropna(how='any',axis=0, thresh=9, inplace= True)

In [18]:
Shark.reset_index(drop= True, inplace= True) #Hacemos reset index tras borras las filas para evitar futuros problemas

----------------------------------

Vamos ahora a ir analizando columna a columna, realizando la mejor limpieza posible de nuestros datos

### COLUMNA DATES

In [19]:
#Vamos a comprobar si todas las fechas están escritas de forma dd/mm/aaaa, y sustituir los NaN por "unknow"
Shark.Date = Shark.Date.fillna("Unknown")

In [20]:
Shark.Date.isnull().value_counts() #Comprobamos que no quedan NaN

False    6674
Name: Date, dtype: int64

In [21]:
mask = Shark.Date.str.contains("/")
mask.value_counts()

True     5995
False     679
Name: Date, dtype: int64

In [22]:
#Vemos que la mayoría de ellas tiene pinta de encontrarse escritas en el formato que queremos, pero hay 775 que no, vamos a verlas.

In [23]:
Shark.Date[~mask]

176        Unknown
226     1899-05-04
227     1895-04-29
228     1893-06-22
229     1892-11-09
           ...
6669    1733-01-01
6670    1595-01-01
6671       Unknown
6672       Unknown
6673       Unknown
Name: Date, Length: 679, dtype: object

In [24]:
#Como vemos, aparte de las fechas desconocidas, el resto de fechas están escritas en formato aaaa-mm-dd, vamos a cambiarlas a nuestro formato desado

def change_date(x):
    if "-" in x:
        x = x.split("-")
        return x[2] + "/" + x[1] + "/" + x[0]
    return x

Shark["Date"] = Shark["Date"].map(change_date)

In [25]:
"-" in Shark["Date"]

False

### COLUMNA YEAR

In [26]:
#Vamos ahora a cambiar la columna de Year de float a int, y los Nan los trataremos del mismo modo como "Unknown"

In [27]:
Shark.Year.fillna("Unknown", inplace= True)

def change_year (x):
    if x == "Unknown":
        return x
    return int(x)

Shark["Year"] = Shark["Year"].map(change_year)

In [28]:
Shark.Year.isnull().value_counts()

False    6674
Name: Year, dtype: int64

### COLUMNA TYPE

In [29]:
#Vamos ahora a investigar la columna Type, que nos indicará si el accidente fue provocado o no

In [30]:
Shark["Type"].value_counts()

Unprovoked             4921
Provoked                620
Invalid                 542
Watercraft              341
Sea Disaster            218
Questionable             12
Unconfirmed               1
?                         1
Under investigation       1
Unverified                1
Name: Type, dtype: int64

In [31]:
#Vemos que tenemos varios datos, primero empezaremos por sustituir todos aquellos datos que no nos permiten conocer el tipo
Shark["Type"] = Shark["Type"].str.replace("Invalid", "Unknown").replace("Questionable", "Unknown").replace("Unconfirmed", "Unknown")\
                .replace("?", "Unknown").replace("Under investigation", "Unknown").replace("Unverified", "Unknown")

In [32]:
Shark["Type"].value_counts()

Unprovoked      4921
Provoked         620
Unknown          558
Watercraft       341
Sea Disaster     218
Name: Type, dtype: int64

In [33]:
#Watercraft no nos indica información sobre el tipo de ataque, nos conviene incluirlo dentro de la actividad. Pasaremos los Watercraft a Unknown
#y, después de observar las actividades donde el tipo de ataque es Watercraft, y ver que no aportan mucha información, concluimos cambiar 
#aquellas actividades por Watercraft.

In [34]:
Shark["Activity"] = np.where(Shark["Type"] == "Watercraft", "Watercraft", Shark["Activity"])
Shark["Type"] = np.where(Shark["Type"] == "Watercraft", "Unknown", Shark["Type"])

In [35]:
Shark["Type"].value_counts()

Unprovoked      4921
Unknown          899
Provoked         620
Sea Disaster     218
Name: Type, dtype: int64

### COLUMNA COUNTRY

In [36]:
#Vamos a echar un vistazo a la columna de Country

In [37]:
Shark["Country"].value_counts()

USA                             2486
AUSTRALIA                       1443
SOUTH AFRICA                     593
NEW ZEALAND                      139
PAPUA NEW GUINEA                 133
                                ...
EQUATORIAL GUINEA / CAMEROON       1
COLOMBIA                           1
COOK ISLANDS                       1
GEORGIA                            1
JAVA                               1
Name: Country, Length: 203, dtype: int64

In [38]:
Shark["Country"].isnull().value_counts()

False    6649
True       25
Name: Country, dtype: int64

In [39]:
#Comenzamos viendo que hay 54 valores nulos, vamos a sustituirlos por "Unknown"

Shark["Country"].fillna("UNKNOWN", inplace= True)

In [40]:
#Hay 212 países, vamos a echar un vistazo a ver si se puede limpiar algo
Shark.Country.unique()

array(['USA', 'AUSTRALIA', 'CANADA', 'BELIZE', 'BAHAMAS', 'SOUTH AFRICA',
       'EGYPT', 'MALDIVES', 'COSTA RICA', 'MEXICO', 'SPAIN',
       'UNITED ARAB EMIRATES', 'THAILAND', 'NEW ZEALAND', 'TONGA',
       'PAPUA NEW GUINEA', 'BRAZIL', 'MOZAMBIQUE', 'ATLANTIC OCEAN',
       'GRAND CAYMAN', 'JAPAN', 'HONG KONG', 'REUNION', 'SOUTH KOREA',
       'PACIFIC OCEAN', 'BRITISH ISLES', 'FIJI', 'ITALY', 'JAMAICA',
       'NEW GUINEA', 'KENYA', 'BRITISH WEST INDIES', 'TURKEY', 'SENEGAL',
       'SOLOMON ISLANDS', 'CUBA', 'PORTUGAL', 'NORTH PACIFIC OCEAN',
       'GUATEMALA', 'NORTH ATLANTIC OCEAN', 'SRI LANKA', 'TANZANIA',
       'NEW CALEDONIA', 'CROATIA', 'INDONESIA', 'NIGERIA', 'KIRIBATI',
       'UNKNOWN', 'CAPE VERDE', 'FRENCH POLYNESIA', 'TRINIDAD & TOBAGO',
       'PHILIPPINES', 'VIETNAM', 'LIBERIA', 'Fiji', 'GRENADA', 'GREECE',
       'COLUMBIA', 'CHINA', 'BERMUDA', 'ENGLAND', 'IRELAND',
       'FALKLAND ISLANDS', 'HAITI', 'YEMEN', 'LEBANON', 'PERSIAN GULF',
       'INDIAN OCEAN', 'INDIA', 'PANAMA', 'LIBYA',
       'ST HELENA, British overseas territory', 'MALAYSIA', 'NORWAY',
       'MAURITIUS', 'VANUATU', 'MICRONESIA', 'NEW BRITAIN',
       'MARSHALL ISLANDS', 'MALTA', 'IRAN', 'SOLOMON ISLANDS / VANUATU',
       'GHANA', 'VENEZUELA', 'SEYCHELLES', 'COMOROS', 'UNITED KINGDOM',
       'SCOTLAND', 'URUGUAY', 'TUNISIA', 'ISRAEL', 'ECUADOR',
       'MID-PACIFC OCEAN', 'SLOVENIA', 'OCEAN', 'FRANCE', 'WEST INDIES',
       'TAIWAN', 'ADMIRALTY ISLANDS', 'GUAM', 'MID ATLANTIC OCEAN',
       'SUDAN', 'OKINAWA', 'IRAQ', 'SAMOA', 'CEYLON', 'SIERRA LEONE',
       'TOBAGO', 'ST. MAARTIN', 'NAMIBIA', 'NICARAGUA',
       'NETHERLANDS ANTILLES', 'CENTRAL PACIFIC', 'GUINEA',
       'Coast of AFRICA', 'South Africa', 'ST MARTIN', 'REUNION ISLAND',
       'MADAGASCAR', 'EL SALVADOR', 'CHILE', 'MARTINIQUE',
       'CARIBBEAN SEA', 'BARBADOS', 'SAUDI ARABIA', 'AZORES',
       'TURKS & CAICOS', 'JOHNSTON ISLAND', 'AMERICAN SAMOA', 'GABON',
       'SOUTH ATLANTIC OCEAN', 'KUWAIT', 'TASMAN SEA',
       'UNITED ARAB EMIRATES (UAE)', 'HONDURAS', 'EGYPT / ISRAEL',
       'DOMINICAN REPUBLIC', 'NORTHERN MARIANA ISLANDS', 'GEORGIA',
       'COOK ISLANDS', 'COLOMBIA', 'RUSSIA', 'SOMALIA',
       'EQUATORIAL GUINEA / CAMEROON', 'RED SEA / INDIAN OCEAN',
       'SOUTHWEST PACIFIC OCEAN', 'ITALY / CROATIA', 'PERU', 'SWEDEN',
       'JA MAICA', 'IRAN / IRAQ', 'CYPRUS', 'BRITISH NEW GUINEA',
       'New Zealand', 'MAYOTTE', 'SINGAPORE', 'PALESTINIAN TERRITORIES',
       'MALDIVE ISLANDS', 'JORDAN', 'NEVIS', 'Sierra Leone', 'PALAU',
       'ANDAMAN / NICOBAR ISLANDAS', 'BAY OF BENGAL', 'MEDITERRANEAN SEA',
       'British Overseas Territory', 'ARUBA', 'ANTIGUA',
       'SOUTH CHINA SEA', 'RED SEA', 'GUYANA', 'CEYLON (SRI LANKA)',
       'FEDERATED STATES OF MICRONESIA', 'MONTENEGRO', 'CURACAO',
       'ST KITTS / NEVIS', 'WESTERN SAMOA', 'THE BALKANS', 'ICELAND',
       'INDIAN OCEAN?', 'CAYMAN ISLANDS', 'SYRIA', 'ANDAMAN ISLANDS',
       'SAN DOMINGO', 'BURMA', 'DIEGO GARCIA', 'Seychelles', 'TUVALU',
       'AFRICA', 'NORTHERN ARABIAN SEA', 'ALGERIA', 'KOREA',
       'GULF OF ADEN', 'SOUTH PACIFIC OCEAN', 'NORTH SEA', 'SUDAN?',
       'PUERTO RICO', 'BRITISH VIRGIN ISLANDS', 'ANGOLA', 'MONACO',
       'CRETE', 'ARGENTINA', 'ST. MARTIN', 'JAVA'], dtype=object)

In [41]:
#Empezamos viendo algún país escrito en minúscula, por lo que pasaremos todo a mayúsculas. 
Shark["Country"] = Shark["Country"].str.upper().str.strip()

In [42]:
#Vamos a ver si hay interrogantes, y los cambiaremos por Unknown
Shark[Shark["Country"].str.contains("?", regex=False)]

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
4776,30/11/1872,1872,Unprovoked,INDIAN OCEAN?,NaN,NaN,Swimming to avoid capture,Malay pirates,M,NaN,FATAL,Y,NaN,NaN
5895,01/04/1954,1954,Provoked,SUDAN?,Red Sea,Southern part,Spearfishing,Jean Foucher-Createau,M,NaN,"Speared small shark, shark bit his thigh and/o...",N,NaN,NaN

In [43]:
def change_country(x):
    if ("?" in x) or ("/" in x):
        return "Unknown"
    return x

Shark["Country"] = Shark["Country"].map(change_country)

### COLUMNA ÁREA

In [44]:
#Continuamos limpiando viendo que tenemos en la columna Área. Aquí realmente nos interesará para nuestro análisis los áreas de los países
#donde tenemos más ataques de tiburón. Vamos a verlo. Primero de todo, cambiamos los Nan por Unknown y después vemos la frecuencia de datos por países.

In [45]:
#Pasamos todos las áreas con la primera letra en mayúscula y quitamos espacios a la derecha e izquierda del string
Shark["Area"] = Shark["Area"].str.strip().str.title()

In [46]:
Shark["Area"].fillna("Unknown", inplace= True)

In [47]:
Shark["Country"].value_counts()[Shark["Country"].value_counts() > 90]

USA                 2486
AUSTRALIA           1443
SOUTH AFRICA         594
NEW ZEALAND          140
PAPUA NEW GUINEA     133
BAHAMAS              127
BRAZIL               119
MEXICO                97
Name: Country, dtype: int64

In [48]:
#Vemos que con diferencia, USA y Australia son los países donde se han registrado más ataques, seguido de Sudáfrica, vamos a Analizar estas áreas,
#que serán las más relevantes en nuestro análisis.

In [49]:
Countrys = Shark[(Shark["Country"] == "USA") | (Shark["Country"] == "AUSTRALIA") | (Shark["Country"] == "SOUTH AFRICA")]

In [50]:
Countrys.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,03/07/2022,2022,Unprovoked,USA,New York,"Smith Point Beach, Suffolk County",Lifeguard Exercises,Zach Gallo,M,31,Injuries to chest and right hand,N,10h15,5'shark
1,21/06/2022,2022,Unprovoked,USA,South Carolina,"Myrtle Beach, Horry County",NaN,male,M,14,NaN,N,NaN,NaN
2,09/04/2022,2022,Provoked,USA,New Jersey,Tutle Back Zoo,Feeding,female,F,12,Finger nipped by captive shark PROVOKED INCIDENT,N,Afternoon,Epaulette shark
3,16/02/2022,2022,Unprovoked,AUSTRALIA,New South Wales,"Buchan Point, Sydney",Swimming,Simon Nellist,M,36,FATAL,Y,16h30,NaN
4,22/12/2021,2021,Unprovoked,USA,Florida,"Anna Maria Island, Manatee County",Wing Foil Surfing,Erika Lane,F,42,Punctures to leg,N,NaN,Blacktip or spinner shark

In [51]:
Countrys.groupby(["Country"])["Area"].unique().values

array([array(['New South Wales', 'Queensland', 'Western Australia',
              'South Australia', 'Victoria', 'Torres Strait', 'Norfolk Island',
              'Northern Territory', 'Westerm Australia', 'Tasmania', 'Unknown',
              'Territory Of Cocos (Keeling) Islands', 'New South Ales',
              'Western  Australia'], dtype=object)                             ,
       array(['Eastern Cape Province', 'Kwazulu-Natal', 'Western Cape Province',
              'Knz', 'Unknown', 'Eastern Province', 'Transvaal',
              'South Atlantic Ocean', 'Kzn',
              'Kwazulu-Natal Between Port Edward And Port St Johns',
              'Eastern Cape  Province', 'Western Province'], dtype=object)      ,
       array(['New York', 'South Carolina', 'New Jersey', 'Florida', 'Hawaii',
              'Texas', 'Washington', 'North Carolina', 'California', 'Louisiana',
              'Connecticut', 'Georgia', 'Unknown', 'Massachusetts', 'Oregon',
              'Alabama', 'Kentucky', 'Missouri', 'Virginia', 'Us Virgin Islands',
              'Puerto Rico', 'Carolina Coast', 'Mississippi', 'Delaware',
              'Wake Island', 'Palmyra Atoll', 'Alaska', 'Cayman Islands',
              'Rhode Island', 'Maryland', 'Maui', 'East Coast', 'Guam', 'Cuba',
              'Samoa', 'Maine', 'New Mexico', 'Illinois', 'Virgin Islands',
              'North & South Carolina', 'Midway Atoll',
              'Franklin County, Florida', 'Pennsylvania', 'Bahamas',
              'Noirth Carolina', 'Johnston Atoll'], dtype=object)                ],
      dtype=object)

In [52]:
#Respecto al primer array, que se corresponde con las áreas de AUSTRALIA, lo primero que salta a la vista es que Western Australia, está
#escrito de tres formas diferentes. Vamos a solucionar este problema, y cambiarlo dentro de nuestro DF. También nos damos cuenta de que 
#New South Wales está escrito también como New South Ales, lo cambiamos tambien.

In [53]:
Shark["Area"] = Shark["Area"].str.replace("Westerm Australia", "Western Australia").replace("Western  Australia", "Western Australia")
Shark["Area"] = Shark["Area"].str.replace("New South Ales", "New South Wales")

In [54]:
#Vamos a echar un ojo al array segundo, perteneciente a SUDÁFRICA. Vemos varios nombres a cambiar.

In [55]:
Shark["Area"] = Shark["Area"].str.replace("Eastern Province", "Eastern Cape Province").replace("Eastern Cape  Province", "Eastern Cape Province")
Shark["Area"] = Shark["Area"].str.replace("Knz", "Kwazulu-Natal").replace("Kzn", "Kwazulu-Natal").replace("Kwazulu-Natal Between Port Edward And Port St Johns", "Kwazulu-Natal")
Shark["Area"] = Shark["Area"].str.replace("Western Province", "Western Cape Province")

In [56]:
#Por último, echamos un ojo al último array, las áreas de USA,y hacemos pequeños cambios del mismo modo

Shark["Area"] = Shark["Area"].str.replace("Franklin County, Florida", "Florida")
Shark["Area"] = Shark["Area"].str.replace("South Carolina", "North & South Carolina").replace("North Carolina", "North & South Carolina")
Shark["Area"] = Shark["Area"].str.replace("Us Virgin Islands", "Virgin Islands")

### COLUMNA ACTIVITY

In [57]:
#Seguimos con la columna Activity, que nos resultará muy útil para nuestro análisis. Vamos a comenzar viendo cuantos Nan tnemos y modificarlos por Unknowns

Shark["Activity"].isnull().sum()

463

In [58]:
Shark["Activity"].fillna("Unknown", inplace= True)

In [59]:
#Limpiamos los strings del mismo modo que hemos hecho anteriormente: 
Shark["Activity"] = Shark["Activity"].str.strip().str.lower()

In [60]:
#Vamos ahora a ver los valores únicos que tiene esta columna. Es una columna con información muy valiosa por lo que es imprescindible realizar
#una limpieza exhaustiva. Primero vamos a ver los valores que más se repiten.

In [61]:
#Tras una investigación, concluimos qu Boogie boarding en realidad es body boarding, y que body surfing es lo mismo que surfing. Vamos a modificarlo

Shark["Activity"] = Shark["Activity"].str.replace("boogie boarding", "body boarding")
Shark["Activity"] = Shark["Activity"].str.replace("body surfing", "surfing")

In [62]:
#Vamos a ver si podemos limpiar un poco más los datos, tomaremos como referencia las actividades con más frecuencia y buscaremos si otras actividades
#se pueden englobar en ellas. Vemos a fondo los datos que tenemos y realizamos los cambios oportunos mediante una funcion

In [63]:
Shark["Activity"].value_counts()[Shark["Activity"].value_counts() >40]

surfing          1233
swimming         1018
unknown           466
spearfishing      387
fishing           375
watercraft        345
diving            315
wading            220
bathing           166
body boarding     128
snorkeling        121
standing          116
floating           54
Name: Activity, dtype: int64

In [64]:
set(Shark[(Shark["Activity"].str.contains("surfing"))  & ((Shark["Activity"] != "Surfing"))]["Activity"])

{'body boarding or surfing',
 'body-surfing',
 'bodysurfing',
 'kite surfing',
 'kitesurfing',
 'night surfing',
 'paddle-surfing',
 'surfing',
 'surfing & dangling foot in water amid baitfish',
 'surfing & filming dolphins',
 'surfing (lying prone on his board)',
 'surfing (or body boarding)',
 'surfing (or sailboarding)',
 'surfing (pneumatic surfboard)',
 'surfing (sitting on his board)',
 'surfing amid a shoal of sharks',
 'surfing on chest board (boogie board?)',
 'surfing or body boarding',
 'surfing or surfing',
 'surfing with dolphins',
 'surfing, but lying prone on his board',
 'surfing, but standing in water alongside board',
 'surfing, but swimming to his board',
 'surfing, collided with shark',
 'surfing, lying on surfboard',
 'surfing, paddling seawards',
 'surfing, paddling shorewards',
 'surfing, pushing board ashore',
 'surfing, sitting on board',
 'surfing, stood up on sandbar',
 'surfing?',
 'surfinging',
 'surfinging (urinating on his board)',
 'surfinging, but sitting on his board',
 'swimming / surfing',
 'swimming or surfing',
 'tandem surfing',
 'wading / surfing',
 'walking / surfing',
 'walking out of the water after surfing',
 'wind surfing',
 'wing foil surfing'}

In [65]:
set(Shark[(Shark["Activity"].str.contains("swimming")) & ((Shark["Activity"] != "Swimming"))]["Activity"])

{'aircraft ditched in the sea, swimming ashore',
 'anti-aircraft cruiser uss atlanta (cl,-05) travelling in convoy after the battle of midway, encountered a japanese flotilla  (battle of guadalcanal) &, heavily damaged by gunfire, she was lost off lunga point. victim was swimming when bitten.',
 'bathing/swimming',
 'boat capsized, swimming ashore',
 'boogie-boarding / swimming',
 'canoe swamped, swimming back to canoe',
 'crew swimming alongside their anchored ship',
 'dived overboard & was swimming near stern of trawler',
 'diving for trochus shell, swimming to dinghy',
 'diving, but swimming on surface',
 'fall into the water overboard & swimming',
 'fishing, fall into the water in water & swimming strongly to shore',
 'flying fortress bomber aircraft went down after daytime raid on naples. he was swimming on the surface',
 'freedom swimming',
 'had just dived into water & was swimming',
 'jumped overboard and swimming',
 'marathon swimming',
 'refused permission to cross on the ferry, he was swimming across the river',
 'spearfishing / swimming on surface',
 'spearfishing, but swimming at surface',
 'spearfishing, but swimming on surface',
 'surfing, but swimming to his board',
 'swimming',
 'swimming  or snorkeling',
 'swimming & snorkeling',
 'swimming & splashing',
 'swimming (lead swimmer in race)',
 'swimming (recovering remains of stilwell)',
 'swimming (using a float)',
 'swimming /  body boarding',
 'swimming /  whale watching',
 'swimming / escaping imprisonment',
 'swimming / jumping off a jetty',
 'swimming / shipwreck',
 'swimming / snorkeling',
 'swimming / surfing',
 'swimming / wading',
 'swimming 10 m from shore',
 'swimming 3 miles offshore',
 'swimming a quarter mile offshore',
 'swimming after a tennis ball',
 'swimming after being swept into sea by a large wave',
 'swimming after being swept off rocks',
 'swimming after being washed overboard',
 'swimming after boat became disabled',
 'swimming after fall into the watering overboard',
 'swimming after fall into the watering overboard from the sealing ship vesper',
 'swimming after harpooned whale capsized boat',
 'swimming after his canoe capsized',
 'swimming after his hat',
 'swimming after their boat capsized',
 'swimming along a row of nets',
 'swimming along side n.e.l. vessel saluda',
 'swimming alongside noaa research vessel discoverer',
 'swimming alongside the schooner catherine wilcox',
 'swimming alongside the ss kearsarge',
 'swimming alongside warship   tsingt-ao',
 'swimming alongside yacht mexico fiesta',
 'swimming around anchored ship',
 'swimming ashore after launch capsized',
 'swimming ashore from a filibuster',
 'swimming ashore from capsized boat',
 'swimming ashore from fishing boat swamped and sunk by a squall',
 'swimming ashore from swamped 13-ft boat',
 'swimming at edge of channel',
 'swimming at side of small boat',
 'swimming back from anchored sailboat',
 'swimming behind sailboat',
 'swimming beside launch',
 'swimming between  anchored  pearling luggers',
 'swimming breast stoke',
 'swimming close to wharf',
 'swimming crawl stroke',
 'swimming from camp',
 'swimming from capsized boat',
 'swimming from capsized pirogue',
 'swimming from fishing boat setting nets',
 'swimming from foundered vessel',
 'swimming from naptha launch after a day of fishing',
 'swimming from shore to anchored sailboat',
 'swimming from the new venture',
 'swimming in canal',
 'swimming in fish tank',
 'swimming in hip-deep water',
 'swimming in midriver near sewage outlet & 400 m from a slaughterhouse',
 'swimming in pool formed by construction of a wharf',
 'swimming in section of river used for washing clothes & cooking utensils',
 'swimming in strong current with 3 others when he disappeared',
 'swimming in the channel',
 'swimming in waist-deep water',
 'swimming near anchored ship',
 'swimming near breakwater',
 'swimming near canoe',
 'swimming near his boat',
 'swimming near jetty',
 "swimming near jetty with 2' piece of wood",
 'swimming near life raft',
 'swimming near pier',
 'swimming near pod of whales',
 'swimming near shore',
 'swimming off yacht',
 'swimming on sandbar adjacent to channel',
 'swimming on surface',
 'swimming or body boarding',
 'swimming or paddle boarding',
 'swimming or snorkeling',
 'swimming or surfing',
 'swimming or wading out  to warn bathers that a shark had been seen',
 'swimming out to porpoises',
 'swimming out to rescue swimmers in difficulty',
 'swimming outside fishing net',
 'swimming outside the safety enclosure attempting to retrieve a tennis ball drifting toward midstream',
 'swimming to anchored boat',
 'swimming to avoid capture',
 'swimming to canoe',
 'swimming to mail boat',
 'swimming to retrieve a flannel',
 'swimming underneath house on pilings',
 'swimming underwater from crayfish cage to a fishing bait',
 'swimming vigorously',
 'swimming with board',
 'swimming with boogie board',
 'swimming with dog near canning factory',
 'swimming with dolphins',
 'swimming with fish attached to  belt',
 'swimming with goggles',
 'swimming with mask & snorkel',
 'swimming with motor tube',
 'swimming with other crew near wharf',
 'swimming with pod of dolphins',
 'swimming with sharks',
 'swimming with speared fish',
 'swimming, after boat swamped',
 'swimming, after fall into the watering off towed kneeboard',
 'swimming, after fall into the watering overboard',
 'swimming, after sailboat capsized',
 'swimming, after single-engine aircraft went down in the sea',
 'swimming, attacked at  surf carnival',
 'swimming, attempting to rescue a girl  believed to be drowning',
 'swimming, carrying tin can with mail to steamer',
 'swimming, caught in strong backwash & disappeared',
 'swimming, ducking for shells in water 0.9 m deep',
 'swimming, naked',
 'swimming, poaching abalone',
 'swimming, poaching perlemoen',
 'swimming, towing an empty barrel',
 'swimming, towing surfboard',
 'swimming, towing the shark',
 'swimming, using bundles of sticks as raft',
 'swimming, wearing black wetsuit & swim fins',
 'swimming, when caught in heavy seas',
 'swimming. passer-by, len bedford, heard him shriek , saw shark leap from the water & swimmer disappeared',
 'swimming/',
 'swimming/standing',
 'swimmingq',
 'taking boat from california to florida when it ran aground & he was swimming back to boat',
 'the pacquebot laconia, enroute to liverpool with 600 italian prisoners onboard, was torpedoed by the german submarine  u-156 and only 2 rafts were launched before the ship went down. unable to board an overcrowded raft, he was swimming.',
 'the shrimper loless maurine capsized in heavy seas & the men were swimming ashore',
 'uss johnston dd 557 sunk on 10/24/1944 in the battle off samara. crewmen were swimming beside a raft.',
 'wading or swimming'}

In [66]:
set(Shark[(Shark["Activity"].str.contains("spearfishing")) & ((Shark["Activity"] != "Spearfishing"))]["Activity"])

{'commercial spearfishing',
 'competing in spearfishing championship & towing dead fish',
 'diving & spearfishing',
 'diving & spearfishing (ascending)',
 'diving & spearfishing (descending)',
 'diving / spearfishing',
 'diving / spearfishing (resting on the surface)',
 'diving / spearfishing,',
 'diving / spearfishingat edge of reef',
 'diving spearfishing',
 'diving, reportedly also spearfishing',
 'diving, spearfishing',
 'spearfishing',
 'spearfishing & diving for paua',
 'spearfishing & had just speared a ulua',
 'spearfishing & holding catch',
 'spearfishing & lassoed shark',
 'spearfishing (but on surface)',
 'spearfishing (diving)',
 'spearfishing / diving',
 'spearfishing / diving (at surface)',
 'spearfishing / freediving',
 'spearfishing / night diving',
 'spearfishing / swimming on surface',
 'spearfishing competition',
 'spearfishing on scuba',
 'spearfishing on scuba & transferring fish onto a stringer',
 'spearfishing or fishing',
 'spearfishing using scuba',
 'spearfishing using scuba & trailing a string of bleeding fish',
 'spearfishing with joe turner (24). shark attracted to speared halibut on belt of one diver, tried to bite ide’s speargun & he shot it in the mouth',
 'spearfishing with scuba gear',
 'spearfishing, but standing in knee-deep water',
 'spearfishing, but standing in the water',
 'spearfishing, but swimming at surface',
 'spearfishing, but swimming on surface',
 'spearfishing, but walking carrying fish on end of speargun',
 'spearfishing, carrying fish on belt',
 'spearfishing, carrying fish on spear',
 'spearfishing, carrying his catch',
 'spearfishing, dived to pick up a float line',
 'spearfishing, diving',
 'spearfishing, diving, possibly ascended into path of cruising shark',
 'spearfishing, had fish on his spear',
 "spearfishing, holding 5' speared fish",
 'spearfishing, holding mesh bag with speared fish',
 'spearfishing, hunting crayfish',
 'spearfishing, pulled shark’s tail',
 'spearfishing, shark grabbed his white t-shirt and towed him',
 'spearfishing, shot a sandtiger shark. cord to spear tangled round his legs & a wave washed him onto a reef.',
 'spearfishing, shot a turtle',
 'spearfishing, shot shark, hauled it onto boat',
 'spearfishing, smith  & walker touched shark with tip of their guns',
 'spearfishing, speared a small shark',
 'spearfishing, speared fish retreated to cave where shark grabbed his arm'}

In [67]:
set(Shark[(Shark["Activity"].str.contains("bathing"))  & ((Shark["Activity"] != "bathing"))]["Activity"])

{'bathing / standing',
 'bathing alongside ship',
 'bathing alongside the american ship thomas w. sears',
 'bathing alongside us naval ship',
 'bathing close inshore',
 'bathing in 2 feet of water',
 "bathing in 3' to 4' of water",
 "bathing in 5' of water",
 'bathing in knee-deep water',
 'bathing in river',
 'bathing in waist-deep water',
 'bathing in water 0.9 m deep',
 'bathing near whaling ship (bark a. r. tucker of new bedford, massachusetts)',
 'bathing or body',
 'bathing or washing',
 'bathing with her mother',
 'bathing with sister',
 'bathing/swimming',
 'british ship, britannia,  was loading lumber. he was bathing',
 'chasing shark out of bathing area while riding on a surf-ski',
 'night bathing',
 'standing / bathing',
 'sunbathing on beach when he saw child being attacked by the shark',
 'surf bathing'}

In [68]:
set(Shark[(Shark["Activity"].str.contains("fishing")) & ((Shark["Activity"] != "fishing")) & ((Shark["Activity"] != "spearfishing"))]["Activity"])

{'a 75-ton  japanese fishing ship was sunk by  chinese nationalist gunboat, shipwrecked men were clinging to debris',
 'attempting to remove fishing net from submerged object',
 'being pulled to shore from wreck of 25-ton fishing vessel alan s',
 'capsized fishing boat',
 'commercial fishing vessel, ev-nn, struck object & sank. ken crosby and  jame & ann dumas adrift on makeshift raft.',
 'commercial spearfishing',
 'competing in spearfishing championship & towing dead fish',
 'crayfishing',
 'diving & fishing with net',
 'diving & spearfishing',
 'diving & spearfishing (ascending)',
 'diving & spearfishing (descending)',
 'diving / fishing',
 'diving / spearfishing',
 'diving / spearfishing (resting on the surface)',
 'diving / spearfishing,',
 'diving / spearfishingat edge of reef',
 'diving spearfishing',
 'diving, reportedly also spearfishing',
 'diving, spearfishing',
 'dynamite fishing',
 'fall into the water from cliff while fishing & disappeared in strong current',
 'fall into the water off fishing boat',
 'fall into the water overboard  from the taiwanese fishing trawler lien cheng feu',
 'fall into the water overboard from fishing schooner halycon',
 'fall into the water overboard while fishing sharks',
 'fishing  (trawling)',
 'fishing (big game)',
 'fishing (drowned 2-apr-2002)',
 'fishing (illegally)',
 'fishing (rod & line)',
 'fishing (seining)',
 'fishing (trolling)',
 'fishing (trolling)  from canoe',
 "fishing - 'tag & release'",
 'fishing / cleaning fish, dived into water to retrieve a lost fish',
 'fishing / diving',
 'fishing / standing in waist deep water',
 'fishing / wading',
 'fishing / washing bait off hands',
 'fishing boat',
 'fishing boat capsized',
 'fishing boat exploded & sank',
 'fishing boat swamped in a storm',
 'fishing boat swamped in storm',
 'fishing for albacore',
 'fishing for basking sharks',
 'fishing for bluefish',
 'fishing for bluefish, shark leapt into dory',
 'fishing for cod',
 'fishing for lobsters',
 'fishing for mackerel',
 'fishing for octopus',
 'fishing for prawns',
 'fishing for shrimp',
 'fishing for snapper',
 'fishing for snappers & cleaning mullet. put mullet over side of boat to wash it',
 'fishing for snoek & yellowtail',
 'fishing for squid',
 'fishing for squid aboard the trawler shikishima-maru when the shark leapt into the boat',
 'fishing for the shark that killed george lundberg',
 'fishing for tuna',
 'fishing for turtles',
 'fishing for white shark',
 "fishing from 32' boat",
 "fishing from 34' boat when pulled overboard by hooked shark",
 'fishing from a small boat & put his hand in the water while holding a dead fish',
 'fishing from boat, kaimamla',
 'fishing from dinghy',
 'fishing from dory, shark upset boat & he fall into the water into the water',
 'fishing from launch, fall into the water into net with shark',
 'fishing from market fishboat sea spray',
 'fishing from paddleski',
 'fishing from prawn trawler',
 'fishing from shore',
 'fishing from shore, washed into the sea',
 'fishing from surfboard',
 'fishing from surfski',
 'fishing in ankle-deep water',
 'fishing in knee-deep water',
 'fishing in shoulder-deep water',
 'fishing in waist-deep water',
 'fishing inside net',
 'fishing sharks when he became entangled in net & fall into the water overboard',
 'fishing with a cast net',
 'fishing with hand line tied to wrist & was pulled into the water',
 "fishing with hand net in 2' of water",
 'fishing, attempted to take a netted shark',
 'fishing, boat capsized',
 'fishing, casting in the surf',
 "fishing, caught a 15' shark & took it onboard",
 'fishing, fall into the water from rocks & disappeared',
 'fishing, fall into the water in water',
 'fishing, fall into the water in water & swimming strongly to shore',
 'fishing, had just speared a ulua',
 'fishing, hauling in a set line',
 'fishing, hauling in net, shark in net',
 'fishing, holding fish',
 'fishing, holding fish in his left hand',
 'fishing, holding fish in right hand',
 'fishing, hooked shark towed boat out to sea, storm swamped boat',
 'fishing, lifting shark out of craypot',
 'fishing, on charter boat silver dollar',
 'fishing, one of three fishermen swept into the sea by a large wave',
 'fishing, probably with a net',
 "fishing, removing gaff from shark's mouth",
 'fishing, removing the shark from his line',
 'fishing, setting nets',
 'fishing, shark caught in his net',
 'fishing, sitting in stern of small boat, feet dangling in the water',
 'fishing, slipped on rocks & fall into the water into sea',
 "fishing, standing in 2' of water",
 'fishing, standing in waist-deep water',
 'fishing, standing in water next to purse net',
 'fishing, standing in water washing fish',
 "fishing, stepped on hooked shark's head",
 'fishing, struck by another shark when removing shark from line',
 'fishing, thrown into water by heavy sea, clinging to rocks at the water line',
 'fishing, tossing netted shark onboard',
 'fishing, trying to catch the end of his fishing line',
 'fishing, two large sharks passed. he speared one and it bit him',
 'fishing, walking in river to cast',
 'fishing, when line became snagged on rock & he dived into water to free it',
 'fishing?',
 'five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. survivors rescued after  7.5 hours in the water',
 'fly fishing',
 'gloucester fishing schooner run down',
 'hoisting shark aboard fishing boat',
 'jerked overboard while pole fishing for tuna',
 'kayak fishing',
 'kayaking / fishing',
 'line fishing from lakotoi, saw shoal of fish, dived overboard, had speared second fish & surfaced for air',
 'lobster fishing',
 'longline fishing sharks',
 'net fishing',
 'net fishing, picking catch from the net',
 "on board 51' fishing vessel one ki",
 'on fishing boat & trailing hand in the water',
 "overcome by co fumes, fall into the water overboard from 36' fishing cruiser & prop slashed arm",
 'sea disaster, sinking of the fishing  launch mavis',
 'shark fishing',
 'spear fishing',
 'spearfishing & diving for paua',
 'spearfishing & had just speared a ulua',
 'spearfishing & holding catch',
 'spearfishing & lassoed shark',
 'spearfishing (but on surface)',
 'spearfishing (diving)',
 'spearfishing / diving',
 'spearfishing / diving (at surface)',
 'spearfishing / freediving',
 'spearfishing / night diving',
 'spearfishing / swimming on surface',
 'spearfishing competition',
 'spearfishing on scuba',
 'spearfishing on scuba & transferring fish onto a stringer',
 'spearfishing or fishing',
 'spearfishing using scuba',
 'spearfishing using scuba & trailing a string of bleeding fish',
 'spearfishing with joe turner (24). shark attracted to speared halibut on belt of one diver, tried to bite ide’s speargun & he shot it in the mouth',
 'spearfishing with scuba gear',
 'spearfishing, but standing in knee-deep water',
 'spearfishing, but standing in the water',
 'spearfishing, but swimming at surface',
 'spearfishing, but swimming on surface',
 'spearfishing, but walking carrying fish on end of speargun',
 'spearfishing, carrying fish on belt',
 'spearfishing, carrying fish on spear',
 'spearfishing, carrying his catch',
 'spearfishing, dived to pick up a float line',
 'spearfishing, diving',
 'spearfishing, diving, possibly ascended into path of cruising shark',
 'spearfishing, had fish on his spear',
 "spearfishing, holding 5' speared fish",
 'spearfishing, holding mesh bag with speared fish',
 'spearfishing, hunting crayfish',
 'spearfishing, pulled shark’s tail',
 'spearfishing, shark grabbed his white t-shirt and towed him',
 'spearfishing, shot a sandtiger shark. cord to spear tangled round his legs & a wave washed him onto a reef.',
 'spearfishing, shot a turtle',
 'spearfishing, shot shark, hauled it onto boat',
 'spearfishing, smith  & walker touched shark with tip of their guns',
 'spearfishing, speared a small shark',
 'spearfishing, speared fish retreated to cave where shark grabbed his arm',
 'standing / fishing',
 'surf fishing / wading',
 'surf fishing in waist-deep water',
 'surf fishing, wading',
 'surf-fishing',
 'swept out to sea while fishing',
 'swept out to sea while net fishing',
 'swimming ashore from fishing boat swamped and sunk by a squall',
 'swimming from fishing boat setting nets',
 'swimming from naptha launch after a day of fishing',
 'swimming outside fishing net',
 'swimming underwater from crayfish cage to a fishing bait',
 'thrown into water from fishing dinghy',
 'tuna fishing, standing on stern platform that was submerged by waves',
 'wade fishing',
 'wade-fishing',
 'wading / fishing & carrying a bag of fish',
 'wading near a fishing net',
 'wading, fishing for flounder',
 "zosimo & his son, jeffrey popa, failed to return from overnight fishing trip in a 14' boat, boat apparently sank, debris recovered but his son & boat were never found"}

In [69]:
set(Shark[(Shark["Activity"].str.contains("diving")) & ((Shark["Activity"] != "Diving"))]["Activity"])

{'abalone diving',
 'abalone diving using hookah (near calving whales)',
 'abalone diving using hookah (resting on the surface)',
 'anti-sabotage night dive exercise alongside destroyer (diving)',
 'cage diving',
 'closed circuit diving (submerged). diving to recover jettisoned packets of opium for police',
 'commercial salvage diving',
 'diving',
 'diving & filming',
 'diving & fishing with net',
 'diving & spearfishing',
 'diving & spearfishing (ascending)',
 'diving & spearfishing (descending)',
 'diving & u/w photography',
 'diving (ascending using scooter)',
 'diving (but on surface)',
 'diving (hookah)',
 'diving (shell maintenance)',
 'diving (submerged riding a scooter)',
 'diving (submerged)',
 'diving , but surfacing',
 'diving / culling lionfish',
 'diving / filming',
 'diving / fishing',
 'diving / kissing the shark',
 'diving / modeling',
 'diving / photographing pilot whales',
 'diving / photography, kneeling on sand',
 'diving / spearfishing',
 'diving / spearfishing (resting on the surface)',
 'diving / spearfishing,',
 'diving / spearfishingat edge of reef',
 'diving / uw photography',
 'diving alongsidethe steamship ranelagh',
 'diving around anchored liner',
 'diving at seal colony',
 'diving by wharf',
 'diving for abalone',
 'diving for abalone (ascending)',
 'diving for abalone (hookah)',
 'diving for abalone (hookah, submerged)',
 'diving for abalone (scuba)',
 'diving for abalone (submerged)',
 'diving for abalone (surfacing)',
 'diving for abalone but at surface',
 'diving for abalone diving but at surface)',
 'diving for abalone from zodiac (submerged)',
 'diving for beche-de-mer',
 'diving for beche-de-mer from lugger',
 'diving for bivalves',
 'diving for coins',
 'diving for coins thrown from ship s.s. moeraki',
 'diving for coins tossed from passenger ship',
 'diving for crayfish',
 'diving for lobster',
 'diving for lobster (at surface)',
 'diving for lobsters',
 'diving for molluscs',
 'diving for pearl',
 'diving for pearls',
 'diving for pen shells',
 'diving for sand dollars',
 'diving for scallops',
 'diving for sea urchins',
 'diving for shell',
 'diving for shells, saw shark circling wife near the surface, intercepted shark & it pulled him beneath the water',
 'diving for sinkers',
 'diving for trepang',
 'diving for trochus',
 "diving for trochus  from dinghy when seized by shark 6' below the surface",
 'diving for trochus from lugger',
 'diving for trochus shell',
 'diving for trochus shell, swimming to dinghy',
 'diving from canoe',
 'diving from dinghy for trochus shell',
 'diving from lugger',
 'diving from lugger whyalla',
 'diving from the lugger san, operated by the protector of the aborigines',
 'diving in aquarium display tank',
 'diving in aquarium tank',
 'diving in shark tank',
 'diving in tuna net',
 'diving into water',
 'diving off jetty',
 'diving off wharf',
 'diving or wading back to shore',
 'diving spearfishing',
 "diving to untangle a crab trap line from boat's propeller",
 'diving with a pod of dolphins',
 'diving with goggles',
 'diving with seals',
 'diving, attempting to catch a captive shark',
 'diving, attempting to retrieve body of drowning victim wedged between rocks',
 'diving, but on the surface when bitten by the shark',
 'diving, but standing in the water',
 'diving, but swimming on surface',
 'diving, carrying speargun',
 'diving, collecting sand dollars',
 'diving, collecting shells',
 'diving, gathering shellfish',
 'diving, hunting crayfish',
 'diving, photographing sharks',
 "diving, repairing water main at depth of 90'",
 'diving, reportedly also spearfishing',
 'diving, retrieving film package from titan 3c rocket',
 'diving, retrieving fish caught in net',
 'diving, spearfishing',
 'diving, surveying a pipeline & examing cathodes under jetty',
 'diving, working on u/w scenes for motion picture',
 'diving. shark “swallowed’ his hand, so he threw his other around the shark and went “shark-back riding” for 30 yards until the shark opened its jaws',
 'diving?',
 'dress diving',
 'dress diving, filming shark & pulling it through the water for a motion picture scene',
 'fishing / diving',
 'free-diving',
 'freediving',
 'freediving for trochus shell (submerged)',
 'freediving, inspecting kaunakakai wharf construction after blasting & dredging',
 'goggle-diving for seaweeds, but standing in water',
 'hard hat diving',
 'hard hat diving, laying some charge of powder',
 'hardhat diving',
 'hardhat diving from japanese pearling lugger, reiyo maru',
 'helmet diving',
 'helmet diving in miami seaquarium',
 'helmet diving, collecting trochus shell',
 'hookah diving',
 'hookah diving (submerged)',
 'hookah diving for abalone (descending)',
 'hookah diving for pen shells',
 'hookah diving for sea urchins',
 'night diving',
 'preparing to go skin diving',
 'scallop diving (using surface-supplied air & a pod)',
 'scallop diving on hookah',
 'scuba diving',
 'shark diving',
 'shell diving',
 'skin diving',
 'skin diving for trepang but at surface next to the boat',
 "skin diving. grabbed shark's tail; shark turned & grabbed diver's ankle & began towing him to deep water",
 'skindiving',
 'skindiving for specimens',
 'skindiving,',
 'skindiving, fish at belt',
 'spearfishing & diving for paua',
 'spearfishing (diving)',
 'spearfishing / diving',
 'spearfishing / diving (at surface)',
 'spearfishing / freediving',
 'spearfishing / night diving',
 'spearfishing, diving',
 'spearfishing, diving, possibly ascended into path of cruising shark',
 'sponge diving',
 'surface supplied  diving',
 'tech diving',
 'testing movie camera in full diving dress'}

In [70]:
def change_activity (x): 
    if ("surfing" in x):
        return "surfing"
    if ("fall" in x) or ("fell" in x):
        return "fall into the water"
    if ("spearfishing" in x):
        return "spearfishing"
    if ("bathing" in x):
        return "bathing"
    if ("fishing" in x):
        return "fishing"
    if ("diving" in x):
        return "diving"
    if ("swimming" in x):
        return "swimming"
    if ("board" in x):
        return "body boarding"
    if ("snork" in x):
        return "snorkeling"
    if ("surf" in x):
        return "surfing" #ponemos esto en último lugar debido a que se han observado varios registros donde aparece surface, que no tiene que ver con el surf
    if ("standing" in x):
        return "wading"

    return x

Shark["Activity"] = Shark["Activity"].map(change_activity)

In [71]:
Shark["Activity"] = Shark["Activity"].str.capitalize()

In [72]:
Shark.Activity.value_counts()

Surfing                                                1336
Swimming                                               1177
Fishing                                                 564
Diving                                                  536
Spearfishing                                            470
                                                       ...
Wreck of the 1689-ton portuguese  coaster angoche         1
Murder victim                                             1
Moving a shark in a net                                   1
Attempting to drive shark away from sailing regatta       1
Ship lay at anchor & man was working on its rudder        1
Name: Activity, Length: 542, dtype: int64

In [73]:
Shark.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,03/07/2022,2022,Unprovoked,USA,New York,"Smith Point Beach, Suffolk County",Lifeguard exercises,Zach Gallo,M,31,Injuries to chest and right hand,N,10h15,5'shark
1,21/06/2022,2022,Unprovoked,USA,North & South Carolina,"Myrtle Beach, Horry County",Unknown,male,M,14,NaN,N,NaN,NaN
2,09/04/2022,2022,Provoked,USA,New Jersey,Tutle Back Zoo,Feeding,female,F,12,Finger nipped by captive shark PROVOKED INCIDENT,N,Afternoon,Epaulette shark
3,16/02/2022,2022,Unprovoked,AUSTRALIA,New South Wales,"Buchan Point, Sydney",Swimming,Simon Nellist,M,36,FATAL,Y,16h30,NaN
4,22/12/2021,2021,Unprovoked,USA,Florida,"Anna Maria Island, Manatee County",Surfing,Erika Lane,F,42,Punctures to leg,N,NaN,Blacktip or spinner shark

### COLUMNA NAME Y SEX

In [74]:
#La columna Name no nos aporta información relevante para nuestro análisis, sin embargo, a veces nos aporta información sobre el sexo de la
#víctima. De esta forma, rellenaremos información en nuestra columna Sexo gracias a esta información:

In [75]:
#Vamos a pasar la columna a tipo string
Shark["Sex"].astype(str)

0         M
1         M
2         F
3         M
4         F
       ...
6669    nan
6670      M
6671      M
6672      M
6673      M
Name: Sex, Length: 6674, dtype: object

In [76]:
Shark["Name"] = Shark["Name"].str.lower()

In [77]:
Shark.Sex.isnull().value_counts()

False    6179
True      495
Name: Sex, dtype: int64

In [78]:
Shark.Sex.value_counts(dropna= False)

M        5426
F         747
NaN       495
N           3
M x 2       1
lli         1
.           1
Name: Sex, dtype: int64

In [79]:
Shark["Sex"]= Shark["Sex"].str.replace("N", "Unknown").replace("M x 2", "Unknown").replace("lli", "Unknown").replace(".", "Unknown")

In [80]:
for i in range(len(Shark)):

    if str(Shark['Sex'][i]) == "nan":
    
        if ("female" in str(Shark['Name'][i])) or ("girl" in str(Shark['Name'][i])):
            Shark['Sex'][i] = "F"

        elif ("male" in str(Shark['Name'][i])) or ("boy" in str(Shark['Name'][i])):
            Shark['Sex'][i] = "M"

In [81]:
Shark["Sex"].fillna("Unknown", inplace= True) #Rellenamos el resto de Nans con Unknown

In [82]:
#Borramos la columna de name, que no nos es de utilidad para nuestro análisis

Shark.drop(columns= "Name", inplace= True)

In [83]:
Shark.head()

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,03/07/2022,2022,Unprovoked,USA,New York,"Smith Point Beach, Suffolk County",Lifeguard exercises,M,31,Injuries to chest and right hand,N,10h15,5'shark
1,21/06/2022,2022,Unprovoked,USA,North & South Carolina,"Myrtle Beach, Horry County",Unknown,M,14,NaN,N,NaN,NaN
2,09/04/2022,2022,Provoked,USA,New Jersey,Tutle Back Zoo,Feeding,F,12,Finger nipped by captive shark PROVOKED INCIDENT,N,Afternoon,Epaulette shark
3,16/02/2022,2022,Unprovoked,AUSTRALIA,New South Wales,"Buchan Point, Sydney",Swimming,M,36,FATAL,Y,16h30,NaN
4,22/12/2021,2021,Unprovoked,USA,Florida,"Anna Maria Island, Manatee County",Surfing,F,42,Punctures to leg,N,NaN,Blacktip or spinner shark

### COLUMNA AGE

In [84]:
Shark.Age.value_counts()

17            174
18            155
15            155
19            153
20            152
             ...
X               1
middle-age      1
72              1
M               1
84              1
Name: Age, Length: 86, dtype: int64

In [85]:
Shark.Age.unique()

array(['31', '14', '12', '36', '42', '21', '57', '16', '73', nan, '22',
       '18', '9', '20', '50', '41', '32', '26', '15', '37', '10', '60',
       '40', '23', '24', '63', '25', '30', '29', '34', '51', '46', '19',
       '17', '8', '39', '62', '33', '52', '35', '49', '48', '13', '27',
       '7', '44', '38', '43', '1', '28', '11', '59', '54', '58', '61',
       '55', '6', '68', '45', '71', '70', '47', '3', '75', '53', '4',
       '65', '56', '74', '67', 'middle-age', '69', '64', '5', '77', '86',
       '66', 'Teen', '81', '82', '!!', '87', 'X', '78', '72', 'M', '84'],
      dtype=object)

In [86]:
Shark.Age.describe()

count     3872
unique      86
top         17
freq       174
Name: Age, dtype: object

In [87]:
Shark["Age"] = Shark["Age"].str.replace("nan", "Unknown").replace("middle-age", "Unknown").replace("Teen", "Unknown")\
    .replace("!!", "Unknown").replace("X", "Unknown").replace("M", "Unknown")

In [88]:
Shark["Age"].fillna("Unknown", inplace= True)

### COLUMNA FATAL

In [89]:
#Cambiamos el nombre de la columna
Shark.rename(columns= {"Fatal (Y/N)": "Damage"}, inplace= True)

In [90]:
Shark["Damage"] = Shark["Damage"].str.upper()

In [91]:
Shark["Damage"].unique()

array(['N', 'Y', 'UNKNOWN', 'Y X 2', 'F', 'NQ', '2017'], dtype=object)

In [92]:
#Vamos a modificar los valores a tres categorías: No fatal, Fatal o Unknown

In [93]:
def change_damage(x):
    if x == "Y" or x == "Y x 2":
        return "Fatal"
    
    if x == "N":
        return "No Fatal"
    
    return "Unknown"

Shark["Damage"] = Shark["Damage"].map(change_damage)

In [94]:
Shark.Damage.isnull().value_counts() #No hay datos perdidos en esta columna

False    6674
Name: Damage, dtype: int64

In [95]:
Shark.Damage.unique() #Comprobamos

array(['No Fatal', 'Fatal', 'Unknown'], dtype=object)

### COLUMNA TIME

In [96]:
Shark.head()

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Damage,Time,Species
0,03/07/2022,2022,Unprovoked,USA,New York,"Smith Point Beach, Suffolk County",Lifeguard exercises,M,31,Injuries to chest and right hand,No Fatal,10h15,5'shark
1,21/06/2022,2022,Unprovoked,USA,North & South Carolina,"Myrtle Beach, Horry County",Unknown,M,14,NaN,No Fatal,NaN,NaN
2,09/04/2022,2022,Provoked,USA,New Jersey,Tutle Back Zoo,Feeding,F,12,Finger nipped by captive shark PROVOKED INCIDENT,No Fatal,Afternoon,Epaulette shark
3,16/02/2022,2022,Unprovoked,AUSTRALIA,New South Wales,"Buchan Point, Sydney",Swimming,M,36,FATAL,Fatal,16h30,NaN
4,22/12/2021,2021,Unprovoked,USA,Florida,"Anna Maria Island, Manatee County",Surfing,F,42,Punctures to leg,No Fatal,NaN,Blacktip or spinner shark

In [97]:
Shark.Time.value_counts()

Afternoon         212
11h00             138
Morning           133
12h00             123
16h00             119
                 ...
22h20               1
10h45-11h15         1
11h115              1
18h30?              1
Late Afternoon      1
Name: Time, Length: 397, dtype: int64

In [98]:
Shark.Time.unique()

array(['10h15', nan, 'Afternoon', '16h30', '`17h00', '10h00', '11h45',
       '07h45', '17h00', '15h30', '10h30', '13h40', '06h15', 'Morning',
       '21h50', '15h01', '18h30', '19h30', '11h30', '14h00',
       'Late afternoon', '08h30', 'Night', '16h00', '18h00', '05h45',
       '10h45', '10h55', 'Evening', '11h00', '09h00', '13h00', 'Sunset',
       '13h30', '16h45', '15h00', '11h10', '20h00', '17h30', '06h10',
       '09h40', '14h20', '07h50', '16h20', '14h30', '22h00', '14h55',
       '09h15', 'P.M.', '13h15', '11h48', '10h25', '13h37', '14h45',
       '07h05', '17h15', '08h35', '12h30', '12h00', '15h15', '12h40',
       '16h23', '09h30', 'Before daybreak', '07h00', '08h40',
       'Early Morning', '11h55', '09h30 / 10h00', '06h00', '17h51',
       '10h50', '06h30', '15h45', '09h45', '07h08', '13h20', '13h14',
       '11h50', '10h35', 'Early morning', 'Mid-morning', '19h00', '18h40',
       '>17h00', '12h45 / 13h45', '08h00', '14h35', '14h10', '15h40',
       '08h15', '11h41', '12h45', '18h15', '830', '15h50', '13h25',
       '14h40', '07h30', '08h45', '23h00', '17h11', '12h20', '00h30',
       '09h00 -10h00', '02h00', '11h15', '07h20', '14h15', '14h50',
       '08h55', 'Dawn', '14h00 - 15h00', '16h15', '15h00j', '1500',
       '11h01 -time of ship sinking', '17h00-18h00', '11h43', '15h20',
       '10h40', '10h20', 'Midday', '07h00 - 08h00', '18h15-18h30',
       '12h55', '07h40', '20h15', '06j00', '17h20', '13h45',
       'Early afternoon', '10h00 / 11h00', '08h48', '09h29', '15h35',
       '19h05', '15h52', '13h42', '17h55', '16h10', '10h07', '12h34',
       '>06h45', '11h40', '21h00', 'Midnight', '18h15 to 21h30', 'Dark',
       '>14h30', '05h00', '18h45', '1300', '15h19', '15h55', '16h35',
       '13h51', '09h35', '19h45', '11h05', '--', '06h47', 'Late morning',
       'Noon', '13h26', '12h05', 'A.M.', '09h30 / 15h30', '08h00 / 09h30',
       '07h15', '20h30', '08h56', '17h10', '09h36', '1415', '09h08',
       '15h49', '17h58', '19h20', '08h10', '12h48', 'Dusk', '<07h30',
       '12h15', '18h50',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '04h00', '13h12', '12h50', '16h21', 'After noon', '15h25', '17h17',
       '09h05', '06h45', '17h45', 'Shortly before 13h00', '11h00 / 11h30',
       '12h33', 'NightFall into the water', 'night', 'After dark',
       'After dusk', '07h31', '10j30', '08h20', '500', 'Mid afternoon',
       '09h55', '11h20', '06h50', '13h50', '19h35',
       'Between 11h00 & 12h00', '03h00', '05h30', '16h26', '10h47',
       '19h00, Dusk', 'Sometime between 06h00 & 08hoo', '12h25', '16h05',
       '16h40', '10h28', '02h45', '10jh45', '22h20', '06h40', '23h30',
       '09h50', '10h45-11h15', '03h30', '13h55', '11h115', '19h15',
       '18h30?', '10h22', '16h30 or 18h00', '17h34', '15h53', '18h05',
       '16h50', '21h30', '17h50', 'After 04h00', '-16h30', '07h51',
       '07h58', '14h11', '14h30 / 15h30', '02h30', '14h16', '13h35',
       'Late afternon', '08h58', '01h00', '06h00 -- 07h00', '15h57',
       '16h12', '13h05', '13h23', 'After Dusk', '01h50', '17h35',
       'Lunchtime', '15j45', 'Just before 11h00', '17h40', 'X', 'Daytime',
       'After midnight', 'Before 10h30', '14h33', '14h00  -15h00',
       '12h10', '16h18', '09h00 - 09h30', 'Just before noon',
       'Just after 12h00', '11h06', '16h55', '12h00 to 14h00',
       'shortly before dusk', '14h00-15h00', 'Before 07h00', '12h39',
       '12h02', '07h19', 'Between 06h00 & 07h20', '1600', '11h17',
       '07h07', '06h55', '13h19', '08h50', '17h46', '10h27', '10h16',
       '09h20', '14h37', 'Shortly after midnight', '13h345', '15h05',
       '13h10', '01h32', 'Before 10h00', '10h43', '18h20', '13h53',
       '20h45 (Sunset)', '12h35', '18h12', '17h00 Sunset', '08h57',
       'Prior to 10h37', 'AM', '19h55', '18h10', 'dusk', '11h46', '16h39',
       '09h00-10h00', 'Shortly before 12h00', '09h57', 'N',
       '17h00 or 17h40', '13h06', '8:04 PM', '17h42', '10h30 or 13h30',
       'Early evening', '11h24', '15h59', '9h00', '14h34', '07h56',
       '05h50', '09h11', '14h21', '>08h00', '12h46', 'After lunch',
       '10h00 or 14h00', 'Early  morning', '11hoo', '19h12', '19h28',
       '12h38', '16h14', '14h25', '11h51', '07h10', '15h00 or 15h45',
       '16h25', 'Ship aban-doned at 03h10', '14h09', '12h58', '10h44',
       '15h56', 'Just before sundown', '15h06', '>12h00', '>17h30',
       '10h00 -- 11h00', '11h25', '18h30 (Sunset)', 'Just before dawn',
       '03h45 - 04h00', '12h23', '15h44', 'Between 05h00 and 08h00',
       '11h56', '11h57', '2 hours after Opperman', 'Mid morning',
       '30 minutes after 199278.a', '05h40', 'Daybreak', '08h05', '10h10',
       '11h53', 'Possibly same incident as 20008.21', '19h00 / 20h00',
       'Midday.', '19h10', '2 hrs before sunset', '19h00-20h00', '07h53',
       '17h01', '13h24', '22h30', '18h25', '11h58', '12h54', '07h32',
       'Late night', '01h30', 'Late Afternoon'], dtype=object)

In [99]:
Shark["Time"] = Shark["Time"].str.strip().str.lower().str.replace(">","").replace("<","")

In [100]:
Shark.Time.isnull().value_counts()

True     3352
False    3322
Name: Time, dtype: int64

In [101]:
Shark["Time"].fillna("Unknown", inplace= True)

In [102]:
def change_time(x):
    if x[:2] in ["06", "07", "08", "09", "10", "11", "12"] or "morning" in x or "sunset" in x:
        return "morning"
    if x[:2] in ["13", "14", "15", "16", "17", "18"] or "afternoon" in x or "afternon" in x:
        return "afternoon"
    if x[:2] in ["19", "20", "21", "22"] or "evening" in x:
        return "evening"
    if x[:2] in ["23", "24", "00", "01", "02", "03", "04", "05"] or "night" in x:
        return "night"
    return x

Shark["Time"] = Shark["Time"].map(change_time)

In [103]:
Shark["Time"] = Shark["Time"].str.title()

### COLUMNA SPECIES

In [104]:
Shark["Species"] = Shark["Species"].str.strip()

In [105]:
Shark["Species"] = Shark["Species"].str.lower()

In [106]:
Shark.Species.value_counts()

white shark                                           194
shark involvement prior to death was not confirmed    103
invalid                                               102
shark involvement not confirmed                        93
tiger shark                                            89
                                                     ...
porbeagle, 1.5 m                                        1
white shark, 1,900-lb                                   1
comrades saw shark's tail appear about 5' away          1
4 m [13'] shark seen in vicinity                        1
blue or porbeagle shark                                 1
Name: Species, Length: 1526, dtype: int64

In [107]:
Shark.Species = Shark.Species.astype(str)

In [108]:
set(Shark.Species.unique())

{'unidentified shark',
 'questionable incident; reported as shark attack but thought to involve a pinniped instead',
 'white shark, 4.6m',
 "4.3 m [14'] shark seen in area previous week",
 "3.6 m [11'9] white shark",
 "said to involve a bull shark, 5' to 6'",
 '4 to 5m white shark',
 'juvenile bull shark?',
 "tiger shark, >3 m [10']",
 "2.4 m [8'] shark, possibly a dusky shark",
 "hammerhead shark, 2.4 m [8'], according to lifeguard sam barrows",
 "said to involve a 6 m to 7.3 m [20' to 24'] shark",
 "bronze whaler shark, 3 m [10'], 200-lb",
 "bull shark, 4 m [13']",
 "1.8 m to 2.1 m [6' to 7'] shark",
 'bull shark',
 'white shark, 4.5m',
 'possibly a small hammerhead shark',
 'hammerhead shark?+o2356',
 "2 m [6'9], 87.5-kg [193-lb]  shark",
 "2.5' shark",
 'shark involvement prior to death could not be determined',
 'raggedtooth shark, 1.96 m, 140-kg',
 "2.1 m [7'] shark, possibly a spinner shark",
 'white shark, 2.8 to 3 m',
 'possibly juvenile tiger shark',
 "bronze whaler shark, 6'",
 '7-gill shark?',
 "white shark, 9'",
 "1.2 m to 1.5 m [4' to 5'] hammerhead shark",
 "bull shark, 9'",
 "bronze whaler shark, 2 m to 3 m [6.75' to 10']",
 "said to involve 6 to 7 m [20' to 23'] white shark",
 'species unknown, possibly a white shark',
 'black tipped shark',
 "his hand was found in a 2.4 m [8'] tiger shark caught 1/5/1949",
 'a young shark',
 '3.5 to 4 m shark',
 "4.5 m [14'9] white shark",
 '2.5 to 3 m shark',
 "mako shark, 7'",
 'said to involve a 1.5 m shark',
 "3.7 to 4.5 m [12' to 15'] shark seen in vicinity",
 "wobbegong shark, 1.8 m [6']",
 "2.7 m [9'] bull or lemon shark",
 "1.2 m [4'] shark (spinner shark?)",
 '100-kg [221-lb] dead blue shark',
 'species unknown, possible white shark',
 "8' bull shark or caribbean reef shark",
 'raggedtooth shark, >1 m',
 "white shark, 5 m to 6 m [16.5' to 20']",
 "tiger shark, 2.4 m to 3 m [8' to 10']",
 "tiger shark, 3 m to 3.7 m [10' to 12']",
 "bronze whaler shark,  3m [10']",
 'tiger shark, 12',
 '2.4 m shark',
 "blacktip shark, 5'",
 '6 m, 600-kg shark',
 'possibly a tiger shark',
 "3.5' to 4' shark",
 "white shark, 10 '",
 "76 cm [2.5'] carpet shark",
 "1.8 m to 2.1 m [6' to 7'] hammerhead shark",
 "12' shark",
 "carpet shark, 10'",
 "3 m to 4.5 m [10' to 15'] white shark",
 "5.5 m [18'] shark",
 "4 m to 5 m [13' to 16.5']  white shark",
 'blue shark, 47kg',
 "white shark, 2 m [6'9]  (tooth fragment recovered from victim's shoulder & identified by j.t. nicholls)",
 'reported as shark bite but injury caused by stingray',
 "porbeagle shark, 3 m [10']rk",
 "1.8 m to 2.4 m [6' to 8'] white shark",
 'sand shark',
 "4.5 m to 5.5 m [15' to 18'] white shark",
 'possibly a blacktip reef shark',
 '2 m shark, possibly a bronze whaler',
 'said to involve 2 sharks',
 "1.8 m [6'] zambezi shark",
 'small shark with white-tipped dorsal fin',
 "tiger shark. 14'3",
 "possibly a 1.5 m [5'] blacktip or spinner shark",
 "3 m to 4.3 m [10' to 14'] shark",
 '3 m to 4 m shark',
 "4' to 5' shark",
 'shovelnose guitarfish, adult male',
 "1.8 m [6'] blacktip shark or spinner shark",
 "white shark, 2.7 m [9']",
 "possibly a 6' bull shark",
 'raggedtooth shark, 2.5m',
 "spinner shark, 3' to 4'",
 'said to involve 2.5 m hammerhead sharks',
 'a dog shark',
 "6' to 8' shark",
 "bronze whaler shark, 2.3 m [7.5']",
 "caribbean reef shark, 1.2 m to 1.5 m [4' to 5']",
 "porbeagle shark, 7'",
 "nurse shark, 1.2 m [4']",
 'raggedtooth shark, 150-kg',
 "tiger shark, 3 m to 4 m [10' to 13']",
 'nurse shark, 106 cm, 28-lb, male',
 "dusky shark, 12'",
 "grey nurse shark, 2,7 m [9'], 200-lb",
 "white shark, 3 m [10']; identifed by dr. w.i. follett on tooth marks",
 "said to involve  9' blue shark",
 'unidentified species',
 "tiger shark, 14'",
 'questionable, 2m shark suspected',
 'leopard shark',
 "blue shark, 7'",
 "local authorities speculated that the water was too cold for sharks, but a 2.1 m [7'], 200-lb pregnant sandbar shark was caught next day",
 "grey reef shark, 4'",
 "white shark, 4.3 m [14'], (tooth fragment recovered)",
 "two 3 m [10'] oceanic whitetip sharks",
 'lemon shark pup',
 'juvenile dusky or blacktip shark',
 "3'  shark",
 "blacktip shark, 6'",
 'blue nose sharks',
 "2' banjo shark",
 "white shark, 4.6 m [15']",
 'bull shark, 1.2m',
 'juvenile bull shark',
 "reef shark, 5'",
 "60 cm [2'] captive shark",
 'according to benjamin, the injury was inflicted by a barracuda, not a shark',
 'miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks',
 'white shark, 6m',
 "thought to involve a 2.6 m [8.5'] white shark",
 'bull shark, 3m female',
 "bitten by several 1.8 m [6'] sharks",
 '1.5 m to 2 m shark',
 'white shark, 4 m to 5 m',
 "said to involve a 4.9 m [16'] red shark",
 'attacked by a number of sharks',
 'raggedtooth shark, 100-lb',
 '18-foot shark',
 'bull shark, 2.7 m',
 "hammerhead shark, 5'",
 "less than 1.2 m [4']",
 'small hammerhead shark',
 "3 m to 3.7 m [10' to 12'] bull shark",
 'bull shark, 3m',
 'spinner shark, 4 to 5 feet',
 "4m [13'] shark",
 "1.8 m [6']  shark",
 'zambezi shark (tooth fragments recovered)',
 'said to involve a blacktip shark',
 'blacktip reef shark',
 'lemon shark, 30-lb',
 "white shark, 3 m to 5 m [10' to 16.5']",
 'white shark, 246-kg',
 "shortfin mako shark, 2.3 m [7.5']",
 'small blue shark',
 '1 m  shark',
 'spinner shark or blacktip shark',
 'said to involve a tiger shark or a hammerhead shark',
 'raggedtooth shark, 2 m',
 "longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb]",
 'small brown-colored shark',
 "1.7 m [5.5'] shark",
 '1.7 m shark',
 "2.6 m [8.5'] shark",
 "4.5' shark",
 "17' white shark",
 'whtietip reef shark',
 "blacktip reef shark, 1.5 m [5']",
 "blue shark, 4.5 m [14'9]",
 "white shark, 3.5 m [11.5']  male",
 "3' blacktip shark",
 "white shark, 5 m [16.5'], identified by dr. w. i. follett on tooth marks",
 '2 m to 3 m shark',
 "tiger shark, 4.5 m [14'9]",
 'blacktail reef shark',
 "white shark, 2.3 m [7.5'], tooth fragment recovered",
 'grey reef shark, 1.5 m',
 "3.7 m [12'], 1200-lb shark. shark caught & its jaw exhibited at the carnegie museum",
 "bull shark, 12'",
 "blacktip shark, 2 m [6.75']",
 "2.7 m [9'] shark with black-tipped pectoral fins",
 "7' silvertip shark",
 "nurse shark, 3'",
 'thought to involve bull sharks',
 "nurse shark, 60 cm to 90 cm [2' to 3']",
 'bull shark, 1 m',
 "lemon shark, 4'",
 'not a shark attack; it was a hoax',
 "white shark, 5' to 6' juvenile",
 "white shark, 4.9 m [16']",
 'blacktip shark, 2m',
 "tiger shark, 7'",
 "raggedtooth shark, 1.2 m [4']",
 "+3' shark",
 '4.9 m white shark',
 '4.5 m to 5 m white shark',
 "carpet shark, 5'",
 "1.5 m to 2.1 m [5' to 7'] shark, possibly a mako shark",
 'galapagos shark?',
 'bronze whaler 1.5m',
 'possibly a spinner shark',
 "tiger shark, 1.5 m [5']",
 "bronze whaler shark, 3.7 m [12']",
 'white shark, 2.5m',
 "10' tiger shark",
 'copper shark',
 'lemon shark, 2.5m to 3m',
 "zambesi shark, 1.8 m [6']",
 "blue pointer, 12'",
 'shark involvement prior to death unconfirmed',
 "tiger shark, 2.4 m 3.4 m [8' to 11']",
 "possibly a 1.5 m [5'] blacktip shark",
 'grey nurse shark, 2 m',
 'tiger sharks & bull sharks (20 sharks in all)',
 'thought to involve a blacktip shark',
 '2.6 m shark',
 'possibly a small blacktip shark',
 "10' shark",
 'bronze whaler shark, 2.5m',
 "2 white shark: 13' & 98",
 "nurse shark, 6'",
 'tiger sharks in area',
 "7' female shark",
 'oceanic whitetip sharks were in the vicinity',
 "2 m [6'9] zambesi shark",
 "silky shark, 1.9 m [6.5']",
 "tiger shark, 13'",
 "3 m [10'] white shark (tooth  recovered from boat)",
 "1.8 m to 2.4 m [6' to 8'] hammerhead shark",
 "1.9 m [6.5'] bull shark",
 '3m shark',
 "15'",
 'tiger shark, 300-kg [662-lb]',
 "1.5 m to 1.8 m [5' to 6']  blacktip shark",
 "white shark, 2 m to 4 m [6'9 to 13']",
 "hammerhead shark, 3 m [10']",
 "tiger shark, 2.1 m [7']",
 "carpet shark, 1.5 m [5']",
 '2.5 m shark',
 "said to involve 2 sharks: 5.2 m & 6 m [17' & 20']",
 "on 11-jan-1994, his remains washed ashore. a 2.4 m [8'] tiger shark thought to be involved",
 "9'2 white shark",
 'a black-tipped shark',
 "3.7 m to 4.6 m [12' to 15'] shark",
 "white shark, 5 m [16.5']",
 'bronze whaler shark, a  juvenile',
 "1.8 m [6'] shark, species identity questionable",
 '2 to 3 m shark',
 'fishermen recovered partial remains from shark a week later',
 'raggedtooth shark, 56-kg [123-lb]',
 "3 m [10'] bull shark",
 "blue pointer, 16'",
 'some drowned but other may have been killed by blue sharks',
 'identified as carcharinid shark (based on its behavior) by dr. d.p. l. schultz; mako shark according to huges',
 "1.5 m [5'] blacktip shark",
 'injuries not caused by a shark',
 "blacktip or spinner shark, 4'",
 "2.1 m [7'] sandtiger shark",
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "white shark, 3 m [10']",
 'bull shark, 80cm',
 '60 cm  shark',
 'thought to involve a tiger shark',
 "2.7 m  [9'] shark",
 'remains recovered from 3 sharks',
 "3 m [10'] blue whaler",
 'white shark, 4m to 5m',
 "mako shark, 1.9 m [6.5']. tooth fragment recovered & identified by j.t. nichols.",
 "4' to 5' blacktip shark",
 "said to be 6.4 m [21'] shark",
 'possibly a white shark',
 "lemon shark, 1.5 m [5'], identified  by the surfer",
 "wobbegong shark, 3'",
 'tiger shark, 2.8m',
 "bull shark, 2.3 m [7.5']",
 "1.8 m to 2.4 m  [6' to 8'] shark",
 "2.7 m [9'] white shark",
 "white shark, 3.7 m to 4.6 m [12' to 15']",
 "shortfin mako shark, 3 m to 3.4 m [10' to 11']",
 'broadnose sevengill shark',
 "alleged to involve a white shark, 7.6 m [25']",
 'juvenile white shark,  2.7 to 3.2 m',
 "1.8 m to 2.4 m [6' to 8'] sharks, most were oceanic whitetip sharks",
 'allegedly a 33-foot shark',
 'dusky shark, 2m',
 'juvenile white shark?',
 "1.5 m to 1.8 m  [5' to 6'] shark",
 "2.8 m [9'3] white shark",
 '234-lb shark',
 "white shark, 3.6 m [11'9]",
 'broadnose sevengill shark, 1.5 m',
 "white shark, 5' k",
 "3.7 m to 4.3 m [12' to 14']  shark",
 'copper shark, 50-kg [110-b]',
 "6 m [20'] white shark",
 "thought to involve a 2.4 m [8'] lemon shark; two 2.4 m lemon sharks caught within 100 yds of the site a week prior to & a week after this incident",
 'juvenile nurse shark',
 "3.5 m [11'6] shark captured",
 "bull shark, 7'",
 "next morning a 3 m [10'] shark was caught that had andrews' leg in its gut",
 "bull shark, 4' to 6'",
 '3.5 m white shark',
 "3' to 4' shark",
 "reported to involve a 3.7 m [12'] shark, possibly a white shark",
 'bull shark, 1.8m',
 'bronze whaler shark, 2 m to 3 m',
 "grey nurse shark, 2.6 m [8.5']",
 'bronze whaler shark, 1.5m',
 'raggedtooth shark, 2.5 m to 3 m',
 "bronze whaler shark, 2.1 m [7'] shark",
 "5.5 m [18'] white shark, identified by witnesses & tooth marks",
 "14' to 16' white shark",
 'reported as a shark attack, the story was a hoax',
 '200 to 300 kg shark',
 'white shark (tooth fragments recovered)',
 "2' to 3' juvenile shark",
 '15* to 24 dog shark',
 'carpet shark',
 "tiger shark, 15' female",
 'tiger shark, 2.5 m',
 '3.7m  to 4.2 m white shark',
 "grey nurse shark, 2.4 m [8']",
 'juvenile shark',
 "wobbegong shark, o. barbatus,  1.8 m [6'], identified by g.p. whitley",
 'sickelfin lemon shark, 3m',
 "a 2' (0.6 m) brown shark",
 "raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)",
 "1.2 m [4'] grey-colored shark",
 "bronze whaler shark, 4.6 m [15']",
 'juvenile dusky shark',
 "1.8 m [6'] caribbean reef shark",
 ">2.4 m [8'] shark",
 "7 shark's teeth found embedded in the woodwork of the boat",
 "tiger shark, 13' female",
 "tiger shark, 3.7 m to 4.3 m  [12' to 14']",
 "5.5 m [18'] white shark",
 'white shark or thresher shark',
 '2 sharks involved',
 '3 m to 4 m white shark',
 'small blacktip shark?',
 "sandtiger shark'",
 "lemon shark, 9'",
 'grey reef shark. 2 m',
 "6' blacktip shark",
 'nurse shark, 1m',
 "2 m [6.75'] sevengill  shark",
 "white shark, 3 m to 5 m [10' to 15']",
 'white shark (tooth fragments recovered from hull of boat)',
 '1.8 metre shark',
 "0.7 m [2.5'] shark",
 'sevengill shark',
 "1,5 m [5'] caribbean reef shark (carcharhinus  perezi)",
 "4' ground shark",
 "tiger shark, 3.7 m [12'], (tooth fragment recovered from wound)",
 '1 m shark',
 "two 1.2 m to 1.5 m [4' to 5'] sharks",
 'white shark x 2',
 '18 to 36 shark',
 'sevengill shark, 2.4 m',
 "raggedtooth shark, 2 m [6'9]",
 'thought to involve a 5.5 m white shark named kong',
 "2.8 m [9'3] whaler shark captured 3 days later with his remains in its gut",
 'nurse shark?',
 'mako shark, 100-lb',
 "4.5  m [14'9] shark",
 'c. macrurus captured 48 hours after attack with tissue removed from man in its gut; species identified by g.p. whitley,  reported as c. obscurus by  r. steel',
 "gummy shark (rhizoprionodon or loxodon) 1.2 m [4']",
 "2.3 m [7.5'] white shark, identified by m. smale",
 "lemon shark, 3'",
 "whaler shark, 2.7 m [9'], 350- to 450-lb  identified by g.p. whitley",
 'white shark, 4.6 m',
 "lemon shark, 4' to 5'",
 'said to involve a white shark but shark involvement not confirmed',
 "2.1 to 2.4 m [7' to 8'] shark",
 'blacktip shark?',
 'wobbegong',
 '3.5 m white shark, tooth fragments recovered',
 "thought to involve a 3' to 4' shark, but shark involvement not confirmed",
 'oceanic whitetip shark',
 'oceanic whitetip shark, 2.5m, female',
 "bronze whaler shark, 1.8 m [6']",
 "six zambesi sharks seen to 1.5 m [5'] in length",
 'said to involve a large mako shark',
 "white shark, 2.1 m [7']  based on tooth pattern",
 "shovelnose shark, 5'",
 'shark had a very large girth',
 "raggedtooth shark, 1.5 m [5']",
 "lemon shark, 2.7 m [9']",
 '> 3 m shark',
 "tiger shark, 3 m to 4.9 m [10' to 16']",
 'white shark, identified by tooth pattern',
 'possibly a wobbegong',
 "5.5 m to 6 m [18' to 20'] white shark",
 "small sharks'",
 '150-lb shark',
 'raggedtooth shark, 1 m',
 "6' to 7' blacktip shark",
 'thought to involve a bronze whale shark, 2m',
 "7.5' shark",
 "1.5 m to 1.8 m [5' to 6'] “spear-eye” shark",
 "tiger shark, 12' ?",
 "tiger shark, 8' to 12'",
 "bull shark, 4.5'",
 'lemon shark, >1 m',
 'goblin shark',
 "bull shark, 2.7 m [9'] was captured & dragged on the sand where tissue taken from eggink was found in its gut. species identification  was made by s. springer based on 4 photographs of the shark.",
 '2 m to  3 m shark',
 'white shark, 3.5 m',
 'oceaniic whitetip shark/tiger shark',
 "1.2 m [4'] shark",
 "1.2 m [4'] blacktip or sandbar shark",
 'shark involvement unconfirmed',
 'white shark, 5m female',
 "nurse shark, 2'",
 'small blacktip shark',
 'c. maculpinnis or c. limbatus',
 'shark involvement not cofirmed',
 'tiger shark, 2.3m',
 "thought to involve a tiger shark,  3.7 m [12']",
 "5' to 6' spinner or bull shark",
 'white shark, 4.5 to 5 m',
 "3.4 m [11']  tiger shark & a 5' shark",
 "sandtiger shark  2'",
 'thought to involve a white shark',
 '15 cm to 20 cm [6 to 8] bite diameter just below left knee',
 "5' blacktip shark",
 'porbeagle or white shark',
 'white shark, 5 m',
 'unknown',
 '40-lb sand shark',
 "1.8 m [6'] blacktip shark or caribbean reef shark",
 'a blue shark',
 'unknown, possibly a white shark',
 'bull shark, 1.5',
 '1.8 m grey shark',
 'white shark, 6 m',
 'sandtiger shark',
 'shark involvement not confirmed',
 'said to involve an oceanic whitetip shark',
 '18 to 24 shark',
 "2.4 m to 3 m [8' to 10'] white shark",
 "bull shark, 1.65 m [5'5] was speared & killed",
 "sevengill  shark, 1.2 m [4']",
 "2 m to 2.5 m [6.75'  to 8.25'] shark",
 'shark involvement highly doubtful',
 'blue whaler (galeolamna)',
 'reef shark,',
 '170-kg, 2.8 m shark',
 "6' shark",
 'blue shark, 2m',
 'spinner shark',
 "white shark, 4 to 5 m [13' to 16.5']",
 "wobbegong shark, 1.4 m [4'6]",
 'whaler or bull shark, 2m',
 'mako shark',
 'white shark, 3 to 3.5m',
 "3 m to 4 m [10' to 13'] white shark",
 "bull sharks to 1.5 m [5']  in length",
 "grey reef shark, 2 m [6.75']",
 '1 m grey-colored shark',
 'shortfin mako shark, 175-lb',
 "14' shark",
 "5.5 m [18''] white shark",
 'a large shark',
 'bronze whaler 2.5m',
 "white shark, 10'",
 "white shark, 3.7 m [12']",
 "tiger shark, 8' to 10'",
 'wobbegong shark, 2 m',
 'sand shark?',
 "4 m [13'] white shark",
 "1.8 m [6'], 136-kg [300-lb] shark",
 "caribbean reef shark, 6'",
 'dooley believed his injury was caused by stingray (dasyatidae family)',
 'white shark or oceanic whitetip shark',
 '2 m shark, possibly a dusky or blacktip shark',
 'spurdog',
 '5.7 m white shark',
 'possibly a juvenile blacktip shark',
 'oceaniic whitetip shark/tiger shark, 2m shark',
 'white shark, 4 m',
 '1.5 m shark',
 '4 to 5 m white shark',
 "3.7 m [12'] shark & may have been another shark nearby",
 'whitetip reef shark',
 'injury believed caused by an eel, not a shark',
 'a small hammerhead shark',
 "thought to involve a 4' sandtiger shark",
 'white shark, 600-kg [1323-lb]',
 'hammerhead shark.',
 "6.5' shark",
 'white shark, 1600-lb female',
 "lemon shark, 1.8 m to 2.4 m [6' to 8'], tooth fragment recovered",
 "2.5 m [8.25'] bull shark",
 ">2.4 m [8'] white shark",
 '36  shark',
 "raggedtooth shark, 3.5 m [11.5']",
 "tiger shark 3 m  [10']",
 'tiger shark (pregnant)',
 'invalid incident',
 "7 m [23'] white shark",
 'mako shark, 4 juvenile',
 "16' 800-lb shark",
 "blue shark, 8' [2.4 m], 500-lb",
 "white shark, 4.3 m [14']",
 'white shark, 3.9 to 4.2 m',
 "sevengill shark, 14', was caught in the vicinity",
 "white shark, 5.5 m [18']",
 "white shark, 1.8 m to 2.1 m [6' to 7']  according to shreuder and a witness",
 "2.7 m [9'] silky shark",
 "grey nurse shark, 2.9 m [9'6]",
 'small sharks',
 "tiger shark, 8'",
 "1.2 m [4'], possibly  larger shark",
 "1.5 m [5'] shark",
 "grey nurse shark, 8'",
 'oceanic whitetip shar,; identified by dr. w.c. schoeder on photograph & dr. l.p. l. schultz on sketch by observer',
 'possibly a bull shark or tiger shark',
 "tiger shark, 3 m [10']",
 'nurse shark',
 'white shark, 7m',
 "white shark, 2.7 m [9'], 280-lb",
 'tiger shark, 3 m',
 'mako shark, 125-lb',
 "1.8 m [6'] blacktip shark",
 "wobbegong shark, 1.2 m [4'] k",
 'bronze whaler, 2m',
 '3- to 4-foot shark',
 'zambesi shark',
 "1.5 m to 2 m [5' to 6.75'] shark",
 'whiptail shark (thresher shark?)',
 'survivors said 2 species of sharks were involved:  oceanic whitetip sharks and another species,',
 "mako shark, 1.5 m [5']",
 'angel shark',
 '2 days later a 600-lb shark was caught 100 yards from the site',
 'thought to involve a juvenile hammerhead shark',
 "white shark, 3 m to 4 m [10' to 13']",
 '1.8 m shark',
 "white shark, 12' to 15'",
 'sandtiger shark, 2 m, male',
 'tiger shark, 1.5 m',
 "1.2 m to 1.8 m [4' to 6'] shark observed in area",
 '8 ft shark',
 "bull shark, 6'",
 '2 small bull sharks',
 "white shark, 2.7 m [9'1], 750-lb",
 "tiger shark, 4.3 m [14']",
 'reef shark, 1.8m',
 "nurse shark, 0.9 m [3']",
 'small nurse shark',
 "1.8 m [6'] carpet shark",
 "1.5 m to 2 m [5' to 6.75'] caribbean reef shark",
 "12' white shark",
 'blue shark',
 "4.9 m [16'] shark",
 'tiger shark, 4.8 m',
 'bull shark, 400-lb',
 '>1 m shark',
 "white shark, 13'",
 "nurse shark, 2' to 3'",
 'bronze whaler shark, 2m',
 "sevengill shark, 6' to 8'",
 'a bull shark, according to some of the divers on the boat',
 "4.9 m to 5.5 m [16' to 18'] white shark",
 "grey nurse shark, 1.5 m [5']",
 "raggedtooth shark, 2 m [6.75']",
 '30-kg [66-lb] shark',
 "blue shark 6'",
 "6 m [20'] shark",
 'white shark (identified by dr. hugh smith)',
 "3 to 3.5 m [10' to 11.5'] bull shark",
 'wobbegongs',
 'bronze whaler sharks x 3',
 "2.1 m [7'] shark with a very flat head” that had followed the boat for 3 days",
 "white shark, 15'2",
 '1.5 m, 45-kg shark',
 'tiger shark, female',
 'identified as c. gangeticus by dr. j. fayrer',
 "2 m [6.75'] copper shark",
 'wobbegong shark, 1 m',
 'bull shark, 8',
 "white shark, 11' to 13'",
 "raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
 'wobbegong shark, 2m',
 "mako shark (aka bonito shark) 1.2 m [4']",
 'a small spinner shark',
 'shark involvement prior to deaths was not confirmed',
 'shark involvement not confirmed & highly unlikely',
 "4' tp 5' shark",
 "white shark, 1.7 m [5.5']",
 "1.8 m to 2 m [6' to 6'9] shark",

In [109]:
Shark["Species"].fillna("Unknown")

0                                            5'shark
1                                                nan
2                                    epaulette shark
3                                                nan
4                          blacktip or spinner shark
                            ...
6669    shark involvement prior to death unconfirmed
6670                                             nan
6671                         nurse shark, 2.1 m [7']
6672                                             nan
6673                                      bull shark
Name: Species, Length: 6674, dtype: object

In [110]:
#Después de echar un ojo a las principales especies, realizamos cambios con una función, para limpiar lo máximo posible la columna

def change_species(x):
    if "white" in x:
        return "white shark"
    if "Tiger" in x:
        return "tiger shark"
    if "hammerhead" in x:
        return "hammerhead shark"
    if "wobbegong" in x:
        return "wobbegong shark"
    if "bull" in x:
        return "bull shark"
    if "blacktip" in x:
        return "blacktip shark"
    if "blacktip" in x:
        return "blacktip shark"
    if "nurse" in x:
        return "nurse shark"
    if "raggedtooth" in x:
        return "raggedtooth shark"
    if "mako" in x:
        return "mako shark"
    if "lemon" in x:
        return "lemon shark"
    if "mako" in x:
        return "mako shark"
    if "zambesi" in x: 
        return "zambesi shark"
    if "whale" in x: 
        return "whaler shark"
    if "reef" in x:
        return "reef shark"
    if "blue" in x: 
        return "blue shark"
    if ("invalid" in x) or ("involvement" in x) or ("questionable" in x) or ("unknown" in x) or ("nan" in x): 
        return "unknown"
    return x
    
Shark["Species"] = Shark["Species"].map(change_species)

In [111]:
Shark["Species"] = Shark["Species"].str.title()

In [112]:
Shark.Species.value_counts()

Unknown                                 3455
White Shark                              728
Bull Shark                               221
Blacktip Shark                           130
Nurse Shark                              111
                                        ...
Tiger Shark, 4 M [13']                     1
Two 1.2 M To 1.5 M [4' To 5'] Sharks       1
Sandtiger Shark, 2 M, Male                 1
200 To 300 Kg Shark                        1
13'10 Shark                                1
Name: Species, Length: 648, dtype: int64

In [113]:
Shark.head()

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Damage,Time,Species
0,03/07/2022,2022,Unprovoked,USA,New York,"Smith Point Beach, Suffolk County",Lifeguard exercises,M,31,Injuries to chest and right hand,No Fatal,Morning,5'Shark
1,21/06/2022,2022,Unprovoked,USA,North & South Carolina,"Myrtle Beach, Horry County",Unknown,M,14,NaN,No Fatal,Unknown,Unknown
2,09/04/2022,2022,Provoked,USA,New Jersey,Tutle Back Zoo,Feeding,F,12,Finger nipped by captive shark PROVOKED INCIDENT,No Fatal,Afternoon,Epaulette Shark
3,16/02/2022,2022,Unprovoked,AUSTRALIA,New South Wales,"Buchan Point, Sydney",Swimming,M,36,FATAL,Fatal,Afternoon,Unknown
4,22/12/2021,2021,Unprovoked,USA,Florida,"Anna Maria Island, Manatee County",Surfing,F,42,Punctures to leg,No Fatal,Unknown,Blacktip Shark

In [114]:
Shark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6674 entries, 0 to 6673
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      6674 non-null   object
 1   Year      6674 non-null   object
 2   Type      6658 non-null   object
 3   Country   6674 non-null   object
 4   Area      6674 non-null   object
 5   Location  6219 non-null   object
 6   Activity  6674 non-null   object
 7   Sex       6674 non-null   object
 8   Age       6674 non-null   object
 9   Injury    6652 non-null   object
 10  Damage    6674 non-null   object
 11  Time      6674 non-null   object
 12  Species   6674 non-null   object
dtypes: object(13)
memory usage: 678.0+ KB

-----------------------------

In [115]:
Shark.head()

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Damage,Time,Species
0,03/07/2022,2022,Unprovoked,USA,New York,"Smith Point Beach, Suffolk County",Lifeguard exercises,M,31,Injuries to chest and right hand,No Fatal,Morning,5'Shark
1,21/06/2022,2022,Unprovoked,USA,North & South Carolina,"Myrtle Beach, Horry County",Unknown,M,14,NaN,No Fatal,Unknown,Unknown
2,09/04/2022,2022,Provoked,USA,New Jersey,Tutle Back Zoo,Feeding,F,12,Finger nipped by captive shark PROVOKED INCIDENT,No Fatal,Afternoon,Epaulette Shark
3,16/02/2022,2022,Unprovoked,AUSTRALIA,New South Wales,"Buchan Point, Sydney",Swimming,M,36,FATAL,Fatal,Afternoon,Unknown
4,22/12/2021,2021,Unprovoked,USA,Florida,"Anna Maria Island, Manatee County",Surfing,F,42,Punctures to leg,No Fatal,Unknown,Blacktip Shark

### SE AÑADEN LAS COLUMNAS: MESES, TABLE PRESENCE, ACTIVITY ON SURFACE

In [116]:
#Vamos a crear una columna con los meses donde se han producido los accidentes

def create_month(x):

    if x[3:5] == "01":
        return "January"
    if x[3:5] == "02":
        return "February"
    if x[3:5] == "03":
        return "March"
    if x[3:5] == "04":
        return "April"
    if x[3:5] == "05":
        return "May"
    if x[3:5] == "06":
        return "June"
    if x[3:5] == "07":
        return "July"
    if x[3:5] == "08":
        return "August"
    if x[3:5] == "09":
        return "September"
    if x[3:5] == "10":
        return "October"
    if x[3:5] == "11":
        return "November"
    if x[3:5] == "12":
        return "December"
        
    return x
    

New_column = Shark["Date"].map(create_month)
Shark.insert(2, "Month", New_column)

In [117]:
#Nuestro estudio trata sobre si la presencia de tablas de surf o similares influye a la hora de que un tiburón ataque o no.
#Sería interesante, del mismo modo, crear una columna que nos indique ese dato a partir de la columna de actividad.

def create_column_board(x):
    if  x in ["Surfing", "Body boarding"]:
        return "Yes"
    if x in ["Swimming", "Diving", "Spearfishing", "Bathing", "Snorkeling", "Fall into the water", "Wading"]:
        return "No"
    
    
New_column2 = Shark["Activity"].map(create_column_board)
Shark.insert(8, "Table Presence", New_column2)

In [119]:
#Sería interesante, del mismo modo, crear una columna que nos indique si la actividad que estaba realizando la persona era sobre la superficie o no 

def create_column_surface(x):
    if  x in ["Surfing", "Body boarding", "Swimming", "Bathing", "Snorkeling", "Fall into the water", "Floating", ]:
        return "Yes"
    if x in ["Diving", "Spearfishing"]:
        return "No"
    
    
New_column3 = Shark["Activity"].map(create_column_surface)
Shark.insert(8, "Activity on surface", New_column3)

In [120]:
Shark.head()

,Date,Year,Month,Type,Country,Area,Location,Activity,Activity on surface,Table Presence,Sex,Age,Injury,Damage,Time,Species
0,03/07/2022,2022,July,Unprovoked,USA,New York,"Smith Point Beach, Suffolk County",Lifeguard exercises,None,None,M,31,Injuries to chest and right hand,No Fatal,Morning,5'Shark
1,21/06/2022,2022,June,Unprovoked,USA,North & South Carolina,"Myrtle Beach, Horry County",Unknown,None,None,M,14,NaN,No Fatal,Unknown,Unknown
2,09/04/2022,2022,April,Provoked,USA,New Jersey,Tutle Back Zoo,Feeding,None,None,F,12,Finger nipped by captive shark PROVOKED INCIDENT,No Fatal,Afternoon,Epaulette Shark
3,16/02/2022,2022,February,Unprovoked,AUSTRALIA,New South Wales,"Buchan Point, Sydney",Swimming,Yes,No,M,36,FATAL,Fatal,Afternoon,Unknown
4,22/12/2021,2021,December,Unprovoked,USA,Florida,"Anna Maria Island, Manatee County",Surfing,Yes,Yes,F,42,Punctures to leg,No Fatal,Unknown,Blacktip Shark

In [122]:
#Guardamos el DF en nuestro directorio

Shark.to_csv("./CSVs/shark-file.csv", index= False)

----------------------------------